[2020-06-25 10:59] SimonFinney opened #2 "Storybook deploy"
## Description

Set up Storybook deploy to reflect the `master` branch.

[2020-06-25 20:00] ericabr opened #3 "Add carbon and theming to core package"
Core package:
- We need to add carbon 10 in a way it can be required by other packages
https://github.com/carbon-design-system/carbon/blob/master/packages/react
- Add theming to be picked up by other packages https://github.com/carbon-design-system/carbon/tree/master/packages/themes

[2020-06-25 20:02] ericabr opened #4 "Add github pages"
Need to add github pages to the build
- needs to contain the collective story book for all packages
- needs to be updated when the build is done with the changes from the packages

[2020-06-26 09:00] SimonFinney commented on #2
Duplicate of #4

[2020-06-26 09:00] #2 closed

[2020-06-29 12:25] SimonFinney opened #6 "Code styling"
## Summary

Discussion around how code styling could work across Cloud Pak components packages, and what best practices are available to be leveraged from Carbon.

- [ ] Code design and style decisions
- [ ] Linting and rules - `eslint` / `stylelint` configuration
- [ ] Formatting - Tabs versus spaces, Prettier configuration?

[2020-06-29 12:26] SimonFinney opened #7 "Release management"
## Summary

Discussion around how release management could work across Cloud Pak components packages, and what best practices are available to be leveraged from Carbon.

### Questions

Lerna versus `semantic-release`

[2020-06-30 19:36] #4 closed

[2020-06-30 19:51] ericabr commented on #7
Lerna is made for our mono repo it seems
I have never heard of lerna before. I'm going to read up on it.

[2020-07-01 20:05] dbrugger opened #11 "Build @carbon/ibm-cloud-paks npm module"

[2020-07-01 20:06] dbrugger opened #12 "Publish @carbon/ibm-cloud-paks npm module"

[2020-07-02 11:31] SimonFinney opened #13 "Define CODEOWNERS and teams"
## Summary

Identify and define CODEOWNERS and teams for design and development to automatically assign for PRs.

[2020-07-02 14:48] ericabr commented on #6
Will we be adopting the linter styles from carbon?

[2020-07-02 15:31] SimonFinney commented on #6
My personal preference is yes, so we don't have to worry about it, but I'm not strongly bound to that 😄

[2020-07-08 09:21] SimonFinney commented on #3
Very cool! Another thing we could consider is adding a theme switcher to the Storybook to enable switching between dark and light themes

[2020-07-08 13:54] ericabr commented on #3
Yes, I love that Idea! I think the default theme should be the dark theme since it looks like we are headed that way.

[2020-07-08 15:33] matthew-chirgwin commented on #3
Hi! I missed the last interlock (I will be able join today however), but is there a description of all the packages, and what the architecture/relationship they have to each other I could catch up on? The reason I ask (and I more than likely have the wrong end of the stick!) is if all packages consume core, that would default everyone to the same version of Carbon/the theme used say. Could that ca

[2020-07-08 16:35] ericabr commented on #3
I think for now, the other packages don't have to consume core. In the long run, we want all of the other packages to consume core once we are more aligned. Core will be the driving force of the version of carbon we should all try and keep in line with once we actually start pointing towards it.
Today, the packages being hosted here are:
- Automation
- CD & AI
- Security
- Bedrock services ->commo

[2020-07-08 17:43] SimonFinney commented on #13
@carbon-design-system/ibm-cloud-paks I created this stub as a discussion point for how we might want to structure CODEOWNERS and GitHub teams for pattern and component governance across design and development - would anyone have examples of their current process to help us shape and define how this could look here?

[2020-07-08 17:58] SimonFinney opened #16 "Update `README` for awareness"
Today, the packages being hosted here are:

- Automation
- CD & AI
- Security
- Bedrock services ->common services

I think we should add these to the common README for others awareness.

_Originally posted by @ericabr in https://github.com/carbon-design-system/ibm-cloud-paks/issues/3#issuecomment-655627596_

[2020-07-09 12:34] matthew-chirgwin commented on #13
For the CDAI components we have worked as follows (please update as needed @asfordmatt ). Our process covers more than just codeowners, but I will mention it for completeness:

- components are developed with a lifecycle attached - `experimental`, `under construction`, and `production ready` (reflected in our storybook: https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/st

[2020-07-10 11:49] SimonFinney commented on #13
@matthew-chirgwin I love this, and I really like the idea of having a lifecycle attached to it - as you mentioned, I can definitely see delays arising as a result of roping in folks from offering teams, who have their own schedule.

I completely understand the value it brings as reviews are being requested directly from consumers! I'm curious to know from your experience if it has generally brough

[2020-07-14 09:31] SimonFinney opened #18 "Testing"
## Summary

Discussion around how testing could work across Cloud Pak components packages, to ensure continued confidence in something working as designed and implemented, and what best practices are available to be leveraged from Carbon and other teams - For example:

- Accessibility
- End-to-end - [Cypress](https://www.cypress.io/)
- Unit

[2020-07-14 12:39] matthew-chirgwin commented on #3
Now I have caught up, just wanted to share my thoughts on what I would suggest a core package could do going forward:

- I see a core package being mainly helpful utility pieces - common test helpers, build configuration, linting, common storybook pieces and so on
    - With the intent that teams migrate to using these helpers and so on in their current code - in turn, meaning we all converge on a

[2020-07-14 15:02] matthew-chirgwin commented on #18
I personally I am fan of behavioural testing. It focuses the developer’s mind on the end user of whatever they are producing, and in turn means what a user actually does is tested, rather than the individual internals pieces which make up the whole. It is a very different way of approaching testing - which at first can seem cumbersome and is typically takes longer to complete compared to more trad

[2020-07-16 09:11] SimonFinney opened #20 "Accessibility testing"
## Summary

Discussion around how accessibility testing could work across Cloud Pak components packages.

[2020-07-16 09:11] SimonFinney opened #21 "Unit testing"
## Acceptance criteria

### Primary

- [ ] Basic Jest and React Testing Library configuration
- [ ] Testing suite should run on each build

### Secondary

#### Documentation

- [ ] Links for guidance on behavioural testing and configuration
- [ ] Test structure
- [ ] Examples

[2020-07-16 09:11] SimonFinney opened #22 "End-to-end testing"
## Summary

Discussion around how end-to-end testing could work across Cloud Pak components packages.

[2020-07-16 09:47] SimonFinney commented on #18
Splitting this out further into #20 , #21 , and #22 for us to align on independently

[2020-07-17 12:49] SimonFinney opened #23 "Sass modules / Dart Sass exploration"
## Summary

Exploration and discussion on exploring Sass modules / Dart sass as a style solution across Cloud Pak components packages.

[2020-07-17 12:59] asfordmatt commented on #22
A good option for End-to-end testing is [CodeceptJS](https://codecept.io/) on top of Puppeteer

[2020-07-17 13:00] asfordmatt commented on #20
https://ibm.com/able is a good place to start

[2020-07-17 13:05] SimonFinney commented on #20
Yes! Also https://www.npmjs.com/package/accessibility-checker

[2020-07-28 09:29] SimonFinney opened #28 "Web terminal"
https://github.ibm.com/CloudIntegrationDesign/DesignSystemAdoptionGuild/issues/91

[2020-07-28 09:32] SimonFinney opened #29 "DataTable additional capabilities"

[2020-07-28 09:33] SimonFinney opened #30 "Import"
[**Link to design**](https://www.carbondesignsystem.com/community/patterns/import-pattern/)

Maintainers: [Vikki Paterson](https://github.com/vikkipaterson) , [Chloe Poulter](https://github.com/chloepoulterdesign)

Dev Maintainer: @davidmenendez

Catalog number: 12

## Tasks

- [x] Initial review of design/existing code

## Release reviewer(s)

- @matthewgallo
- @sydrosa

### Working in experiment

[2020-07-28 09:34] SimonFinney opened #31 "Export"

[2020-07-28 09:38] SimonFinney opened #32 "Additional tag features"
[View additional tags implementation](https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-tagset--tag-array)

To do
- [x] show all feature
- [x] Align the tooltip (https://github.com/carbon-design-system/carbon/pull/7309)

[2020-07-28 09:38] SimonFinney opened #33 "Modified tabs"
Modified Tabs design -> https://github.com/carbon-design-system/ibm-cloud-paks/issues/33
Designer ->

[2020-07-28 10:28] SimonFinney opened #34 "Saving"

[2020-07-28 10:28] SimonFinney opened #35 "Text bar"

[2020-07-28 10:32] SimonFinney opened #36 "Decorator"

[2020-07-28 10:32] SimonFinney opened #37 "Filter panel"

[2020-07-28 10:33] SimonFinney opened #38 "Icon button bar"

[2020-07-28 10:33] SimonFinney opened #39 "Truncated list"

[2020-07-28 12:55] SimonFinney opened #40 "Return to banner"

[2020-07-28 12:55] SimonFinney opened #41 "Upsell nudge"

[2020-07-28 12:56] SimonFinney opened #42 "Breadcrumbs page title"

[2020-07-29 16:49] SimonFinney opened #45 "Open source process and clearance"

[2020-07-30 18:17] carrenelloyd commented on #32
**[Link to design](https://pages.github.ibm.com/cdai-design/pal/components/additional-tag-features/)**

Maintainer: Marcie Coral

Catalog number: 1

[2020-07-30 18:22] carrenelloyd commented on #31
[**Link to design**](https://www.carbondesignsystem.com/community/patterns/export-pattern/)

Maintainers: [Vikki Paterson](https://github.com/vikkipaterson) , [Chloe Poulter](https://github.com/chloepoulterdesign)

Catalog number: 8

[2020-07-30 18:24] carrenelloyd commented on #30
[**Link to design**](https://www.carbondesignsystem.com/community/patterns/import-pattern/)

Maintainers: [Vikki Paterson](https://github.com/vikkipaterson) , [Chloe Poulter](https://github.com/chloepoulterdesign)

Catalog number: 12

[2020-07-30 18:26] carrenelloyd commented on #33
[**Link to design**](https://pages.github.ibm.com/cdai-design/pal/components/modified-tabs/)

Maintainers: Marci Coral

Catalog number: 14

[2020-07-30 18:55] carrenelloyd commented on #28
[Link to Design](https://pages.github.ibm.com/cdai-design/pal/patterns/web-terminal/)

Maintainer: Marci Coral

Catalog number: 28

[2020-08-04 09:01] dbrugger commented on #23
Sounds really useful for our endeavour. Would apps need to use dart sass to consume our library or would it also still work with node-sass?

[2020-08-04 09:28] #36 closed

[2020-08-05 13:09] SimonFinney commented on #32
@carrenelloyd Would you know if there's redlines or existing code available for this?

[2020-08-05 13:09] SimonFinney commented on #31
@carrenelloyd Would you know if there's redlines or existing code available for this?

[2020-08-05 13:09] SimonFinney commented on #30
@carrenelloyd Would you know if there's redlines or existing code available for this?

[2020-08-05 13:10] SimonFinney commented on #33
@carrenelloyd Would you know if there's redlines or existing code available for this?

[2020-08-05 15:27] SimonFinney commented on #31
Existing code - https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/under-construction-ide-exporting--simple-success-example

[2020-08-05 15:27] SimonFinney commented on #30
Existing code - https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/production-ready-ide-importing-importing--importing-multiple-files

[2020-08-05 16:37] SimonFinney opened #48 "Component and pattern versioning"

[2020-08-05 16:48] SimonFinney commented on #11
Acceptance criteria to be defined in Slack

[2020-08-05 16:48] SimonFinney commented on #12
Acceptance criteria to be defined in Slack

[2020-08-05 16:50] SimonFinney opened #49 "Storybook utilities"

[2020-08-05 17:07] lee-chase commented on #12
Publishing/modifying npm packages is restricted to owners. There is only one level of access.

https://docs.npmjs.com/cli/owner

A list of owners for carbon-components-react, for instance, is as follows. It is of note that they have a carbon-bot email address which I suspect is for automated publishing. Confirmation will be sort from @joshblack

$npm owner ls carbon-components-react
abbeyhrt <Abag

[2020-08-05 17:10] lee-chase commented on #12
Without an automated build (as is the case for @carbon/vue) 'lerna publish' can be used to manage the publication of multiple packages from a repo.

https://www.npmjs.com/package/@lerna/publish

[2020-08-05 17:31] SimonFinney commented on #21
Acceptance criteria to be defined in GitHub by owner in collaboration with group

[2020-08-05 18:12] SimonFinney commented on #49
Acceptance criteria to be defined in GitHub by owner in collaboration with group

[2020-08-05 19:02] joshblack commented on #12
Let me know if we can help out with this, if publishing from CI we can provide an NPM_TOKEN for the carbon-bot.

Similarly, we can create a group of users under the `@carbon` scope and give them access to the relevant packages.

Lerna is a great tool for publishing, especially with the conventional commit flag. Let me know if you want to chat about it at all!

[2020-08-05 21:38] carrenelloyd opened #50 "Button menu"
[Link to Design](https://pages.github.ibm.com/cdai-design/pal/wip/button-menu/)

Work in Progress (WIP)

[Link to Carbon ticket](https://github.com/carbon-design-system/carbon/issues/3371)

Catalog #: 3

[2020-08-05 21:41] carrenelloyd opened #51 "Cards"
Catalog # 4

[Link to design ](https://pages.github.ibm.com/cdai-design/pal/components/card/usage/)

[Link to Redlines](https://pages.github.ibm.com/cdai-design/pal/components/card/style/)

**Contributors**
Austin Edwards
Kathryn Gallagher
Alexander Meyer
Ceci Moralles
JP Pollard

[2020-08-05 21:43] carrenelloyd opened #52 "Create Flows"
Catalog # 5

[Link to Design](https://www.carbondesignsystem.com/community/patterns/create-flows/) (not updated yet)
[Link to interim design docs](https://ibm.ent.box.com/notes/724312709451)

Maintainers:
Andrew Smith, @andrea-gm

Dev:
NOTE: Tearsheets are a separate issue. There are separate issues for each form of 'Create'.

## Tasks

- [ ] Initial review of design/existing code

### Working in

[2020-08-05 21:44] carrenelloyd opened #53 "Edit"
Catalog # 6

[Link to Design](https://www.carbondesignsystem.com/community/patterns/edit-pattern/)

**Maintainers**
Vikki Paterson, Chloe Poulter

## Tasks

- [ ] Initial review of design/existing code

### Working in experimental package

- [ ] Create a shell component which
  - [ ] Create ComponentName/ComponentName.js component file that renders props
        in raw form (no styling or sub comp

[2020-08-05 21:45] carrenelloyd opened #54 "Empty states"
Catalog # 7

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/patterns/empty-state/usage)

**Maintainer**
Vikki Paterson

**Dev Maintainer**
@matthewgallo

https://github.com/carbon-design-system/ibm-cloud-paks/projects/2#card-45884682

[View empty states implementation](https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-emptystate--default)
## Tasks
- [x] Initial revi

[2020-08-05 21:47] carrenelloyd opened #55 "Filterable search tab dropdown"
Catalog # 9

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/wip/filterable-search-tab-dropdown/)

[2020-08-05 21:48] carrenelloyd opened #56 "Generate an API key"
Catalog # 10

[Link to Design ](https://www.carbondesignsystem.com/community/patterns/generate-an-api-key/)

**Maintainers**
Vikki Paterson, Chloe Poulter

[Working code](https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/production-ready-ide-api-key-generation-component--with-core-configuration)

[2020-08-05 21:50] carrenelloyd opened #57 "Learning panel"
Catalog # 13

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/wip/learning-panel/)

Work in Progress

**Maintainers**
Tom Solomon

[2020-08-05 21:51] carrenelloyd opened #58 "Multistep confirmation"
Catalog # 15

[Link to Design](https://pages.github.ibm.com/cdai-design/pal/wip/multistep-confirmation/)

[2020-08-05 21:53] carrenelloyd opened #59 "Page Header"
## Issue description

Catalog # 16

Design maintainer: Cameron Calder
Dev maintainer: Lee Chase

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/components/page-header/usage/)
Replace existing design with new design below

[Link to Design Issue](https://github.ibm.com/CDAI-design/pal/issues/102)

[Working code](https://pages.github.ibm.com/cloud-integration-design/ide-components/?pa

[2020-08-05 21:53] carrenelloyd opened #60 "Persistent banner"
Catalog # 17

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/wip/persistent-banner/)

[2020-08-05 21:55] carrenelloyd opened #61 "Remove"
Catalog # 18

[Link to Design ](https://www.carbondesignsystem.com/community/patterns/remove-pattern/)

[View remove implementation](https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-removalmodal--with-state-manager)

This may have working code, check with Vikki Paterson.

**Maintainer**
Vikki Paterson

## Tasks

- [x] Initial review of design/existing code

### Working in experime

[2020-08-05 21:55] carrenelloyd opened #62 "Reordering"
Catalog # 19

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/wip/reordering/)

[2020-08-05 21:56] carrenelloyd opened #63 "Saving"
Catalog # 20

[Link to Design](https://pages.github.ibm.com/cdai-design/pal/patterns/saving/usage/)

[Working code](https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/production-ready-ide-api-key-generation-component--with-core-configuration)

[2020-08-05 21:58] carrenelloyd opened #64 "Side panel"
Catalog # 21

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/components/slide-in-panel/)

See also
https://pages.github.ibm.com/ibmcloud/pal/components/side-panel/usage/

## Tasks

- [x] Initial review of design/existing code

### Working in experimental package

- [x] Create a shell component which
  - [x] Create ComponentName/ComponentName.js component file that renders props

[2020-08-05 21:58] carrenelloyd opened #65 "Slide-over panel"
Catalog # 22

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/components/slide-over-panel/usage/)

[Working code](https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/stories-of-ide-slide-over-panel--small)

[2020-08-05 22:00] carrenelloyd opened #66 "State"
Catalog # 24

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/wip/state/)

[2020-08-05 22:00] carrenelloyd opened #67 "Text bar"
Catalog # 25

[Link to Design
](https://pages.github.ibm.com/cdai-design/pal/components/text-bar/)

**Maintainer**
Myriam Battelli

[2020-08-05 22:01] carrenelloyd opened #68 "File Uploader"
Catalog # 26

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/components/file-uploader/usage/)

[Link to Code](https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/production-ready-ide-api-key-generation-component--with-core-configuration)

[2020-08-05 22:02] carrenelloyd opened #69 "User profile images"
Catalog # 27

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/patterns/user-profile-images/)

**Maintainers**
Marion Brülls

## Tasks

- [x] Initial review of design/existing code

### Working in experimental package

- [x] Create a shell component which
  - [x] Create ComponentName/ComponentName.js component file that renders props
        in raw form (no styling or sub components,

[2020-08-05 22:03] carrenelloyd opened #70 "Web terminal"
Catalog # 28

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/patterns/web-terminal/)

**Maintainers**
Marcie Corral
Courtney Banning

## Tasks

- [x] Initial review of design/existing code

### Working in experimental package

- [x] Create a shell component which
  - [x] Create ComponentName/ComponentName.js component file that renders props
        in raw form (no styling or sub c

[2020-08-05 22:05] carrenelloyd opened #71 "Widget"
Catalog # 29

[Link to Design ](https://pages.github.ibm.com/cdai-design/pal/components/widget/usage/)

**Contributors**
Arn Hyndman
Nancy Ching
Kala Nenkova
Holman Sze
Jeff Ng
Virginia Nicholson
Denise Heebner
Courtney Bittner

[Link to Code](https://test.cloud.ibm.com/login?redirect=%2Fdocs%2Fdeveloping%2Fget-coding%2Fconsole-sdk%3Ftopic%3Donboarding-step1-build#step1-build)

[2020-08-06 08:23] SimonFinney commented on #34
Duplicate of #63

[2020-08-06 08:23] #34 closed

[2020-08-06 08:24] SimonFinney commented on #28
Duplicate of #70

[2020-08-06 08:24] #28 closed

[2020-08-06 08:25] SimonFinney commented on #35
Duplicate of #67

[2020-08-06 08:25] #35 closed

[2020-08-06 09:01] lee-chase commented on #48
During a CDAI meeting yesterday it was noted that as the patterns evolve it will become necessary to version them to reflect the latest design/features.

Andrew Gatford indicated that patterns will be versioned individually.

This lead to the suggestion that we have one package per pattern which will allow individual pattern updates to be published without affecting others.

[2020-08-06 09:26] SimonFinney commented on #31
@matthew-chirgwin Yesterday you mentioned this and #30 would be some of the first candidates for promotion on your end - so we have it documented, what were the sequence of events you outlined that would be required to get these into this repo?

[2020-08-06 10:15] matthew-chirgwin commented on #31
@SimonFinney current proposal (pending agreement) is outlined here: https://ibm-cloud.slack.com/archives/CK5MMSYFJ/p1596644086443400

[2020-08-06 10:39] SimonFinney commented on #48
Thanks! @dbrugger How might this affect the current setup of the monorepo?

[2020-08-06 10:42] Georgegriff commented on #11
It was discussed on the call with ide-components guild that it might be an idea to have separate releases for patterns

- Given that the patterns themselves are individually versioned and changed.
- This will help us deal with breaking changes.
- We can release patterns into the open source one by one much easier
- We could consider a `core` package which contains some of the smaller more common,

[2020-08-06 13:19] joker23 commented on #11
@joshblack is there an existing build pipeline for carbon that we can leverage here? Some additional considerations (maybe I just need more clarification here):

- I thought I heard that we want to settle on a monthly delivery cadence. If that is true then how do we organize individual versioning?
- Are there any documentations on how we should do dogfooding before releasing?
@SimonFinney

[2020-08-06 14:27] SimonFinney commented on #12
For the first release, I'd be happy with enough configuration that enables us to automate the publishing of a package and tag based on conventional commits.

[2020-08-06 14:37] SimonFinney commented on #11
@gatfora / @Georgegriff I'd like to understand more about what we mean when we say component and pattern versioning - Are we talking about a component and pattern lifecycle, similar to what IDE does today, or truly individual packages?

[2020-08-06 14:43] Georgegriff commented on #11
At this point it was mostly a suggestion but I think we're talking about individually versions npm packages with one or more components in them, the reason being if we/design have to break a single pattern it's easier to deal with

[2020-08-06 15:30] joker23 commented on #11
would it make sense to align any of the versioning? eg if we aligned the major minor versions for monthly release cadence (which introduces new features, new functions, etc) and have teams increment their patch version as needed?

I guess all of this is mostly semantics since it still relies on a build model and tooling that supports individual team build/publish.

[2020-08-07 15:42] joshblack commented on #12
@SimonFinney very nice, `lerna version` has a `--conventional-commits` option for this: https://github.com/lerna/lerna/tree/master/commands/version#--conventional-commits

Similarly, you can use `--conventional-prerelease` and `--conventional-graduate` for a prerelease workflow.

It should help generate relevant tags and release changelogs (and CHANGELOG.md files) too!

[2020-08-07 19:01] joshblack commented on #11
@joker23 definitely can share our setup and plans moving forward. Probably the simplest option for the monorepo here is to use Lerna plus a timed GitHub action if you all want to release on a schedule 👀

Lerna can help with versioning/publishing based on conventional commits, it can also help with cutting pre-releases for nightly builds or release candidates.

In general, we follow a time-based re

[2020-08-10 13:53] lee-chase commented on #12
There's also the option to use `lerna publish`, which includes a call to `lerna version` from the command line to publish to npm.

[2020-08-10 14:09] lee-chase opened #72 "Do we need to support Server Side Rendering from v1"
During the kick-off meeting (Monday August 10th) Dejan Glozic mentioned server-side rendering.

Is this a requirement? If so how do we protect against introducing code that is not compatible with SSR.

[2020-08-10 14:44] rodet opened #73 "Documentation for getting started"
tbd - might be a website - where to host it?

Simple solution; README for the beginning

[2020-08-10 15:21] SimonFinney commented on #72
Somewhat relevant, but we have a crude test that allows us to check to see if a library can be imported in Node.js directly - https://github.com/carbon-design-system/ibm-security/blob/dev/scripts/ssr/index.js

[2020-08-10 18:46] SimonFinney commented on #49
Carbon just released some really nice updates to their Storybook documentation that leverages `@storybook/addon-docs` - https://react.carbondesignsystem.com/?path=/docs/accordion--accordion

[2020-08-12 19:18] lee-chase commented on #33
@SimonFinney I have done some initial exploration on an internal repo. Unsure where to put the code while https://pages.github.ibm.com/lee-chase/modified-tabs/

Not sure if I should dump what I have into the CDAI package

[2020-08-12 19:37] lee-chase commented on #33
@carrenelloyd The design page talks about "modified tabs" and "web terminal"

[2020-08-12 20:10] lee-chase commented on #33
@carrenelloyd  Design questions/thoughts

1. I am not certain the modified-tabs should provide an "Are you sure?" dialog. I believe the best model is to defer this to the consumer who can choose whether to display a dialog (which we can supply as a pattern) or not and manage the save process. If we do supply a dialog the user will need to supply content and a handler to process any save. From a te

[2020-08-12 21:44] dglozic commented on #72
Server-side rendering is not something you do in a React component, with a single exception: you are not allowed to make references to DOM global objects outside of client-side-only lifecycle methods (presuming here we are using classes and not hooks but I am sure there is a hook equivalent).

We are currently using Carbon X components with server side rendering without issue because they are clea

[2020-08-13 09:50] SimonFinney commented on #33
@lee-chase This looks and feels brilliant, and thanks for taking it on! It'd be great when you feel it's progressed enough, to submit a PR directly into this repo so the group could discuss and work out the details in review?

[2020-08-13 10:18] lee-chase commented on #33
Another question or two...

10. When a tab is retrieved from the overflow is this what happens? Assuming placed in position 6, position 1 item placed in overflow in the order supplied by the consumer.

[2020-08-13 10:20] lee-chase commented on #33
@SimonFinney without a defined package for CD&AI the barrier to submitting a PR for single component seems quite high.

[2020-08-15 11:44] lee-chase commented on #33
@SimonFinney need to be able to tag the designer and or assign when we have questions.

[2020-08-15 11:46] lee-chase commented on #33
11. Is new really a tab or a button styled to look like one? Does it have content like a normal tab. Does it change after being clicked or selected?

NOTE: That it is possible to select a tab using cursor keys, is that to be considered a call to create a new tab? Tabs do not otherwise handle keyboard events. We should probably make this a ghost button.

[2020-08-16 14:07] SimonFinney commented on #33
Good point @lee-chase ! Were you able to connect with the maintaining designer on Slack? We'll need their public GitHub account to add it to @carbon-design-system/ibm-cloud-paks-design

[2020-08-16 15:24] lee-chase commented on #33
I was unable to identify them on slack.

[2020-08-20 08:35] SimonFinney commented on #6
https://github.com/carbon-design-system/carbon/pull/6695

[2020-09-01 09:28] SimonFinney commented on #7
Duplicate of #12

[2020-09-01 09:28] #7 closed

[2020-09-01 09:32] SimonFinney commented on #45
1. Open source process documentation - https://w3.ibm.com/developer/opensource/contribute/contributions
2. Internal migration requests are submitted in the WICKED tool found in step 6

[2020-09-01 09:32] #45 closed

[2020-09-01 09:32] SimonFinney commented on #18
Closing in favour of the above issues for deeper discussion

[2020-09-01 09:32] #18 closed

[2020-09-04 11:22] #73 closed

[2020-09-10 10:20] vikkidpaterson commented on #52
Andrew Smith has been working on significant updates to the create pattern after collaborating with multiple teams.  My understanding it that these updates are nearly finalised and he will be providing an update to the sketch file and the documented pattern soon.
(I can't seem to assign people/labels or find Andrew to tag on this!)

[2020-09-10 11:59] lee-chase commented on #52
It is likely @vikkidpaterson that Andrew is not a member of the carbon-design-system org. He should @ josh black in the internal slack channel.

[2020-09-14 11:10] lee-chase commented on #3
Raised https://github.com/carbon-design-system/carbon/issues/6828

[2020-09-14 12:59] lee-chase commented on #33
@gatfora needs clarification from design otherwise will end up with my best guesses.

[2020-09-14 14:17] lee-chase commented on #33
13. The keyboard interaction of standard tabs is as follows.
 - The user can tab to the selected item of the tab set.
 - When the tab set has focus the tab key moves focus away from the tab set.
 - Cursor keys are used to move between tabs

With a close button on each tab (except new) should focus move to the close button when a tab set is selected, with a subsequent key press moving the focus out

[2020-09-14 15:49] davidmenendez commented on #21
PR up here https://github.com/carbon-design-system/ibm-cloud-paks/pull/86 which sets up enzyme to do react testing

[2020-09-15 12:17] lee-chase commented on #33
Marcie can you update with the actual maintainer and ensure they are here and on github.com?

DESIGN CHANGE: Carbon has switched the narrow view to use right/left scroll arrows. This conflicts with the overflow menu solution.

![image](https://user-images.githubusercontent.com/15086604/93207982-bb016b00-f753-11ea-80ef-4485173453df.png)

[2020-09-15 12:18] lee-chase commented on #33
Also worth noting that Carbon has a bug with dynamic addition of tabs https://github.com/carbon-design-system/carbon/issues/6838

[2020-09-15 12:25] lee-chase opened #87 "Why are security components not relocating code to here"
The security components added so far are simply wrappers around components found in https://github.com/carbon-design-system/ibm-security why is component code not being located in this repository?

[2020-09-15 15:08] marciecorral commented on #33
This was designed for MCM about a year ago, but they never actually made it into the product. Our team is now focused on Project Katamari and nothing net new is going into CP4MCM. I think at this point, if there is a consistent need for this as a pattern, we will need to determine who could actually code it. This will be a topic on the DSAG call on Thursday. Our FED, Alex will be joining to help c

[2020-09-15 15:51] #21 closed

[2020-09-15 17:05] lee-chase commented on #33
14. On closing a tab - typically the choice to save content is three way - Save, Do not save, Cancel. Is a three option modal dialog required as Carbon does not support this?

[2020-09-15 17:56] lee-chase commented on #33
15. Does a tab need to indicate it is dirty (in need of saving)

[2020-09-15 21:49] davidmenendez commented on #6
Looks like there's been a few PR's dedicated to this issue. Is there anything else that needs to be done to satisfy the requirements for this issue?

[2020-09-16 16:04] lee-chase commented on #33
No further work possible here without a review.

[2020-09-16 17:52] lee-chase commented on #32
@marciecorral initial dev review.
1. In essence, the overflow part is a tooltip. The only difference is the change to Gray90
2. Gray90 is not a Carbon theme token and should NOT be used see https://www.carbondesignsystem.com/guidelines/color/usage
$interactive-02: Gray 80 is a better choice as the current tooltip background and the high contrast tooltip.
3. Hover is a poor interaction which does n

[2020-09-16 18:14] marciecorral commented on #32
This is an item that was designed in 2019 by a designer who is no longer here at IBM. This was never implemented in CP4MCM. We can discuss details on the call tomorrow.

[2020-09-17 12:53] lee-chase opened #90 "Refine labels so we can see at a glance what state Issues are in"
The ibm-cloud-paks issue list, project and labels do not give a clear picture as to the project state.

It is unclear as to how the label states work, for example “status: refining” but by whom?

Perhaps we should borrow the labels from Carbon which are split into categories for “browser, component, impact, package, role,  status, type and version”.

[2020-09-17 14:14] lee-chase commented on #31
Does this component only exist because?
1. Safari does not support https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/downloads
2. To select the type of file being downloaded

[2020-09-17 14:18] lee-chase commented on #37
Where are the UX/Visuals? Marking as blocked until visible.

[2020-09-17 14:19] lee-chase commented on #38
I see no design for this marking as blocked until provided.

[2020-09-17 14:20] lee-chase commented on #39
No UX/Visuals or design maintainer, marking as blocked until provided.

[2020-09-17 14:21] lee-chase commented on #29
No UX/Visuals or design maintainer, marking as blocked until provided.

[2020-09-17 14:22] lee-chase commented on #41
No UX/Visuals or design maintainer, marking as blocked until provided.

[2020-09-17 14:23] lee-chase commented on #42
No UX/Visuals or design maintainer, marking as blocked until provided.

[2020-09-17 14:23] #42 closed

[2020-09-17 14:39] lee-chase commented on #53
@vikkipaterson can you comment on the status of the design. @maciecorran marked this as 'status:refining'

[2020-09-17 14:40] lee-chase commented on #54
@vikkipaterson can you comment on the status of the design it was marked as 'status: refining' by @carrenelloyd

[2020-09-17 14:42] lee-chase commented on #56
@vikkipaterson can you comment as to the status of the design it was marked as 'status: refining' by @carrenelloyd

[2020-09-17 14:44] lee-chase commented on #58
Marked as blocked as @carrenelloyd marked this as 'status: refining'

[2020-09-17 14:45] lee-chase commented on #59
Marked as blocked as to the status of the design it was marked as 'status: refining' by @carrenelloyd

[2020-09-17 14:46] lee-chase commented on #60
Blocked as to the status of the design it was set to 'status: refining' by @carrenelloyd

[2020-09-17 14:48] lee-chase commented on #62
Marked as blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

[2020-09-17 14:49] lee-chase commented on #63
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

[2020-09-17 14:50] lee-chase commented on #64
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

[2020-09-17 14:50] lee-chase commented on #65
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

[2020-09-17 14:51] lee-chase commented on #66
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

[2020-09-17 14:54] lee-chase commented on #67
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

Invited Myriam to join the conversation here.

[2020-09-17 14:56] lee-chase commented on #68
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

[2020-09-17 14:58] lee-chase commented on #69
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

Invited Marion Brülls to join the conversation here.

[2020-09-17 15:02] m-battelli commented on #67
@carrenelloyd @lee-chase
I have finalized this pattern with Carbon team: https://www.carbondesignsystem.com/patterns/text-toolbar-pattern/
We are looking for volunteers to implement it in code version.

[2020-09-17 15:03] lee-chase commented on #71
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

Not sure who to invite as a maintainer

[2020-09-17 15:09] lee-chase commented on #51
Blocked as the status of the design it was set to 'status: refining' by @carrenelloyd

Not sure who to invite as design maintainer

[2020-09-17 15:16] lee-chase commented on #67
Thankyou @m-battelli as this is an open-source project, in theory, any dev could pick it up. Please ask any volunteer you have to join the conversation on github and provide any prototype links you may have.

[2020-09-17 15:39] marciecorral commented on #70
This was designed for MCM about a year ago, by a designer no longer at IBM. Hoping to discuss today on the call if we have time.

[2020-09-17 15:57] marciecorral commented on #70
Alexander.Melo@ibm.com is a FED on our team and he is familiar with this design and willing to help code this. I mentioned this to David L. today, so will follow up with any plan.

[2020-09-17 15:58] AlexanderMelox commented on #70
I can go ahead and work on this

[2020-09-17 16:09] matthew-chirgwin opened #91 "Discussion, design and development in the open"
I have noted in a number of issues raised for development of new components that a number of resources (designs, slack converstations etc) are only available 'inside the IBM firewall'. This is fine if you are an IBMer, but if you are not, and would like to contribute, you will not be able to get the context (or potential history) required to make such a contribution.

In my opinion, if the code is

[2020-09-17 16:11] AlexanderMelox commented on #70
Is there an Invision Link for this prototype?

[2020-09-17 16:13] Levinson1 commented on #69
Design completed and live

[2020-09-17 16:26] lee-chase commented on #91
In terms of Carbon teams public outputs that are relevant to us they produce:

- Styles in a core package
- React components in a package
- React component storybook
- React component codesandboxes
- Sketch design kits
- A public website carbondesignsystem.com detailing the design. Our PAL site equivalent. This is also in the same github organization.

As far as I am aware ALL design decisions are

[2020-09-17 16:27] lee-chase commented on #91
I believe our PAL site should be external.

[2020-09-17 17:13] Levinson1 commented on #70
Courtney Banning worked on this one and has provided an Invision link
https://ibm.invisionapp.com/share/GXNZTC9F83B

[2020-09-17 18:36] Levinson1 commented on #32
InVision prototype
https://ibm.invisionapp.com/share/ANO0H9RHEGK#/screens/319708255_AdditionalTagFeature_1

[2020-09-17 18:41] lee-chase commented on #32
@Levinson1 the questions asked above need discussing before this is ready for production.

[2020-09-17 19:40] Levinson1 commented on #66
The State pattern will be incorporated into the new Notification pattern extension currently being worked on by Maui Francis.

[2020-09-17 20:39] cameroncalder commented on #59
# Overview info

## Anatomy

The page header is comprised of 6 zones, allowing for the flexibility to include (or exclude) areas depending on the context and needs of the page.

![image](https://user-images.githubusercontent.com/50155706/93520637-69dcad00-f8f4-11ea-8d2a-d56c90beb0b4.png)

1. **Breadcrumbs:** This zone is for the breadcrumb component to be displayed. Breadcrumbs should typically be

[2020-09-17 20:50] cameroncalder commented on #59
# Structure

The page header delivers consistent spacing and uniform content placement. This avoids jarring movement and unexpected behavior when navigating within the offering and across the portfolio.

## Spacing

### Page header without background
#### No breadcrumb
![structure-title-only](https://user-images.githubusercontent.com/50155706/93525853-39007600-f8fc-11ea-9867-9ee26657611a.png)

###

[2020-09-17 21:03] cameroncalder commented on #59
# Scrolling behavior

#### Default
The page title scrolls with the rest of the page content. Once the page title scrolls out of view, the current page title appends to the end of the breadcrumbs.
![page-header-transition-1](https://user-images.githubusercontent.com/50155706/93526906-bc6e9700-f8fd-11ea-8762-91edf270c082.gif)

#### With button(s)
The button transition accompanies the default scrolli

[2020-09-17 21:06] cameroncalder commented on #59
# Page title lengths

### Character count
To maintain page titles that are efficient to read and avoid crowding within the page header, the title length should be no more than ~56 characters.
![image](https://user-images.githubusercontent.com/50155706/93528170-8c27f800-f8ff-11ea-8379-62ac8d3479b8.png)

### Truncation
Page titles should remain on a single line instead of wrapping to multiple lines.

[2020-09-18 06:59] rodet commented on #91
Agree... Would be good to have that culture change happening and everything in the open. Follow the Carbon way of working first and then adjust for what doesn't work for us.

[2020-09-18 11:56] lee-chase commented on #30
Initial Dev review.

@vikkipaterson @chloepoulterdesign this looks very much like this with various container options and action buttons.

https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/production-ready-ide-importing-uploading--extension-validation

Are the various container patterns and action buttons part of this issue or is it simply the component as found in

[2020-09-18 13:51] lee-chase commented on #31
Dev review:

This appears to be a lift and shift of

https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/under-construction-ide-exporting--simple-success-example

although this implementation uses an out of date green success indicator (Carbon file upload uses blue).

The notification does not appear to be part of the UI, it would be nice to provide a code example sho

[2020-09-18 14:16] CourtneyBanning commented on #32
@lee-chase

1. Yes, this is essentially a tool tip. However my file is showing the tool tip to be Gray 80 (#393939).
2. and 3. I am not sure where the disconnect is happening, but my file for this component is showing the tool tip and the tag on hover as Gray 80 or #393939.
4. The original designer and myself thought that hover would be the best interaction for this situation. Why do you believe t

[2020-09-18 14:29] lee-chase commented on #54
Dev thoughts
This appears to be a redesign of https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/production-ready-ide-empty-state-component--default

@vikkipaterson I am a bit confused by the design. When describing sizes it shows a flow of image, title, description with optional CTA button below. Then when it moves to describe empty state types it shows sub-text, ti

[2020-09-18 15:20] lee-chase commented on #32
@CourtneyBanning
1. & 2. It may be the case that gray 90 was used at some point. The carbon themes for Gray 90 and Gray 100 do use Gray 90 but this is not currently used in White and Gray 10 themes.
3. Hover does not move focus, unlike click/touch. As a result, accessing the interactive part of the element via the keyboard is hard to achieve. Carbon uses focus for all overflow menu and interactive

[2020-09-18 16:16] lee-chase commented on #69
Dev thoughts.

Would 'Avatar' be a better name for the component? Calling it UserProfileImage may discourage group use and strictly speaking it may not be an image.

[2020-09-21 09:23] SimonFinney commented on #42
I suspect this is superseded by #59

[2020-09-21 09:23] SimonFinney commented on #39
Existing code - https://ibm-security.carbondesignsystem.com/?path=/story/components-truncatedlist--default

[2020-09-21 09:24] SimonFinney commented on #38
Existing code - https://ibm-security.carbondesignsystem.com/?path=/story/patterns-iconbuttonbar--default

[2020-09-21 09:24] SimonFinney commented on #37
Existing code - https://ibm-security.carbondesignsystem.com/?path=/story/patterns-filterpanel--default

[2020-09-21 09:28] chloepoulterdesign commented on #30
Hi all, there are a few moving pieces with import:
- We're going to deprecate the [file upload component at PAL](https://pages.github.ibm.com/cdai-design/pal/components/file-uploader/usage) in favour of the Carbon drag & drop file uploader - tracking for this is [here](https://github.ibm.com/CDAI-design/pal/issues/303)
- There is some work going on in the background to the Carbon file uploader to

[2020-09-21 10:08] chloepoulterdesign commented on #31
I think beyond your accurate point about the indicator @lee-chase I don't see any code changes needed - and as it is right now, the code (the button that says "Export") could be implemented into a full page, side panel or full page, and therefore meets the requirement.

[2020-09-21 11:09] SimonFinney commented on #6
This LGTM for now!

[2020-09-21 13:56] lee-chase commented on #6
Happy for this to be closed pending more specific future needs.

[2020-09-21 14:17] #6 closed

[2020-09-21 14:25] lee-chase commented on #69
2. IBM Profiles ask the user to provide
- First name
- Inital (optional)
- Last name
-Display name

Would it not be better to use the first two capitalized letters should be used from the display name.

[2020-09-22 07:13] vikkipaterson commented on #54
@lee-chase Hey Lee.  I wasn't aware of the empty states pattern changing from what was previously built however it looks like the pattern has been updated slightly to only show examples of empty states in cards / tiles in the types descriptions
which is a little misleading! Can you see who last updated the page?

[2020-09-22 09:19] vikkidpaterson commented on #68
I think @lee-chase and Chloe have been discussing this.  @carrenelloyd what was the reason behind the refining status tag - do you have a link to anything around the refinements underway?

[2020-09-22 09:20] vikkidpaterson commented on #65
@carrenelloyd what was the reason behind the refining status tag - do you have a link to anything around the refinements underway?

[2020-09-22 09:20] vikkidpaterson commented on #64
@carrenelloyd what was the reason behind the refining status tag - do you have a link to anything around the refinements underway?

[2020-09-22 09:21] vikkidpaterson commented on #63
@carrenelloyd what was the reason behind the refining status tag - do you have a link to anything around the refinements underway?

[2020-09-22 09:21] vikkidpaterson commented on #62
@carrenelloyd what was the reason behind the refining status tag - do you have a link to anything around the refinements underway?

[2020-09-22 09:23] vikkidpaterson commented on #60
@carrenelloyd what was the reason behind the refining status tag - do you have a link to anything around the refinements underway?  I think there were a couple of teams that talked about picking this up.  It originated from Event Streams but wasn't ever progressed as not needed by that team.

[2020-09-22 09:24] vikkidpaterson commented on #58
Worth following up with Sichao about this one.  It originated from API Connect requiring it but wasn't ever progressed so either needs to be picked up or closed off.

[2020-09-22 09:27] vikkidpaterson commented on #53
I think this may be affected by the updates being made to create because where possible / necessary edit should reflect the create process.

[2020-09-22 09:43] SimonFinney commented on #60
@lee-chase / @vikkidpaterson As far as I remember, the 'status: refining' label signifies a work item that is not ready to be picked up by development, as it's missing information such as links to design specifications and optionally existing code, as well as having a maintaining designer assigned to it.

[2020-09-22 09:51] lee-chase opened #93 "delete me just a test"
I am a description

- [ ] check this out
- [x] done

[2020-09-22 10:07] SimonFinney commented on #41
Existing code - https://deploy-preview-675--ibm-security.netlify.app/?path=/story/components-upsellnudge--default

[2020-09-22 10:12] SimonFinney commented on #87
Once this package is published and consumable, our current thinking is to migrate the source code for Security components available in this repo's Storybook over to this repo, and reverse the referencing so that `@carbon/ibm-security` will depend on `@carbon/ibm-cloud-paks` - This way we can cause minimal disruption to teams currently building on Cloud Pak for Security.

[2020-09-22 13:20] vikkipaterson commented on #60
I seem to have become a ghost in my above comment!

[2020-09-22 14:42] lee-chase commented on #59
@cameroncalder in the animated designs tabs stay in view, but tags scroll off the top. What happens when both tags and tabs are displayed?

[2020-09-22 15:28] lee-chase commented on #49
The addition of the storysource addon in https://github.com/carbon-design-system/ibm-cloud-paks/pull/82 is because neither Docs nor ‘Show Info’ show the actual story which is useful when the story has state.

It is interesting to note that both Docs and ‘Show Info’ appear to display “source” for just the component under test as if reconstructed from the props.

As a bonus ‘Show info’ appears to us

[2020-09-22 22:01] cameroncalder commented on #59
Hey @lee-chase great question. In the case where there are both tabs & tags, lets keep the tags visible since they sit on the same row as the tabs. If it's just the tags though, they can scroll out of view

[2020-09-23 09:54] SimonFinney commented on #59
See https://github.com/carbon-design-system/ibm-security/pull/685 for animation example

[2020-09-23 17:33] lee-chase commented on #59
@SimonFinney Which story?

[2020-09-23 17:36] lee-chase commented on #59
@cameroncalder icon buttons must have tooltip, should be positioned how?

Options are top left bottom and right with alignment to start, center or end.

e.g. Bottom End
![image](https://user-images.githubusercontent.com/15086604/94048522-89c81100-fdcb-11ea-923d-aeadfb00d9a9.png)

[2020-09-24 11:25] lee-chase commented on #59
@cameroncalder are only field size buttons that neatly line up (almost*) line up with the title?

Or is the whole right side the height of breadcrumb, title and subtitle combined?

NOTE: Productive Headihg 4 has a line height of 36px and field buttons are 40px.

[2020-09-24 14:37] CourtneyBanning commented on #32
@lee-chase

Sorry about the delay in response! You brought up some great points and I am re-evaluating aspects of this component. I will get back to you as soon as it is sorted.

[2020-09-24 18:55] cameroncalder commented on #59
Yeah as you noticed, to keep it vertically aligned with the page title, the field button ends up being an actual offset of 30 from the top... Other field buttons variants, or sets of side-by-side field buttons, could be used there as well. For instance, a field size ghost icon button acting as an overflow. Also, the total height of the page header is based on the left side content: spacers, the ti

[2020-09-24 18:57] cameroncalder commented on #59
Would be great to do 'Bottom Center' if space allows for the string. If not, 'Bottom End' would be favored. Esp for actions on  the far right side of the toolbar

[2020-09-25 12:05] SimonFinney opened #100 "TypeScript"
Discussion around whether or not the repo should leverage TypeScript - https://www.typescriptlang.org

[2020-09-25 14:57] asfordmatt commented on #100
I think that would be difficult without Carbon providing typings

https://github.com/carbon-design-system/carbon/issues/5873

[2020-09-25 17:06] lee-chase commented on #100
I have no objection to typescript in principle, but I do wonder if it would put an extra hurdle between in the way of contributions.

[2020-09-28 16:26] lee-chase opened #104 "Remove fixed dependency version for eslint-config-react 7.20.0"
eslint was emitting this error without pinning the version to 7.20.0

When Carbon moves it's config forward we should try to remove this pin.

![image](https://user-images.githubusercontent.com/15086604/94459707-a8555000-01af-11eb-8d78-fa72473426fc.png)

[2020-09-29 13:58] lee-chase commented on #59
@cameroncalder Not merged yet but this preview shows a very basic responsive behaviour. Below about px wide it starts to break down and may need reviewing with regard to structure and animation.

https://deploy-preview-108--ibm-cloud-paks.netlify.app/?path=/story/experimental-pageheader--all-attributes-set

This is a slightly silly version as an example.

https://deploy-preview-108--ibm-cloud-paks

[2020-09-30 09:32] lee-chase commented on #59
@cameroncalder What happens to the title on scroll if there is not breadcrumb?

[2020-09-30 10:29] moores2 commented on #59
@cameroncalder In this design for the PageHeader the primary action buttons are towards the top right of the screen and become sticky at the top of the screen when the page scrolls. However, an interim design for the create flows that I have seen now has primary action buttons bottom right (they appear to have moved to the bottom). Isn't this an inconsistency? Could you confer with Andrew Smith an

[2020-09-30 10:58] lee-chase opened #112 "Do we need to support IE11"
I'd like to use CSS variables but wanted to check it is possible to ignore IE11 which does not support them.

NOTE: Carbon V11 which is looking at March 2021 is hoping to drop IE11.

[2020-09-30 11:02] #112 closed

[2020-09-30 11:02] lee-chase commented on #112
Browser support in README currently says no

[2020-09-30 11:26] cameroncalder commented on #59
@lee-chase the page title should just scroll out of view and not appear in the breadcrumb row

[2020-09-30 11:35] cameroncalder commented on #59
Hey @moores2 Appreciate the check on this. Andrew was actually a collaborating partner on this page header as well. The buttons in 'create flows' are reserved for pagination/confirmation and sit at the bottom as they follow the top-down content/form completion necessary to progress forward. The bottom placement in 'create flows' also drives consistency in the placement of like experiences across o

[2020-09-30 13:25] moores2 commented on #59
@cameroncalder Thanks for the confirmation that difference is intentional.

[2020-09-30 13:57] cameroncalder commented on #59
Responsive behavior examples

1312
![1312 breakpoint example](https://user-images.githubusercontent.com/50155706/94694685-b5cb2100-02fa-11eb-9168-abc4433039d6.png)

1056
![1056 breakpoint example](https://user-images.githubusercontent.com/50155706/94694727-bebbf280-02fa-11eb-92cc-bb120e8a2ec6.png)

672
![672 breakpoint example](https://user-images.githubusercontent.com/50155706/94694756-c67b9700-0

[2020-10-02 11:21] #11 closed

[2020-10-05 11:20] lee-chase commented on #59
@cameroncalder The page action area. Does this only contain field sized buttons? If so we should probably only allow the user to pass config for the buttons as opposed to actual buttons

[2020-10-05 11:21] lee-chase commented on #59
@cameroncalder we have included status in the 'available space' section is that what. you intended?

[2020-10-05 18:21] cameroncalder commented on #59
Yeah, we'd want teams to stick with the field sized buttons in that zone but it could be any type of button or group of buttons passed through

[2020-10-05 18:27] cameroncalder commented on #59
The 'available space' section should be used only with a page header that includes the background. The 'status' is the limit of stacked objects that can be used with the background-less page header. Is it structured in a manner that supports the inclusion of an 'available space' section independent of a page header with or without a background?

[2020-10-06 15:45] SimonFinney opened #124 "Add testing guidance to contribution documentation"

[2020-10-07 12:08] #124 closed

[2020-10-07 15:17] SimonFinney opened #131 "Core Babel configuration"

[2020-10-07 17:52] Levinson1 opened #134 "Notifications"
Pattern design documentation: https://pages.github.ibm.com/cdai-design/pal/patterns/notifications

Dev maintainer: Matt Gallo (@matthewgallo)

[2020-10-08 15:53] vladbalanescu opened #137 "Run audits as part of our CI/CD process"
## Feature request or enhancement

In order to spot prod vulnerabilities in production, we need a way to spot these well on time, so a little audit script needs to be added as part of this repo's CI process

[2020-10-08 16:35] lee-chase opened #138 "How should we make shallow wrappers?"
Some of our components either are shallow wrappers around Carbon React components or make use of shallow wrappers.

There are a number of ways to create a shallow wrapper in Rect which involve more or less lines of code depending on how many of the wrapped components properties you want to explicitly support.

One minimalist approach is as follows but is this the best way or sub-optimal?

Create y

[2020-10-09 15:04] lee-chase commented on #61
Still need to add stories and tests

[2020-10-09 16:43] lee-chase commented on #59
@cameroncalder can you start to review against the design. When you find a fault please create a checkbox list in a comment and I will append it ToDo list.

[2020-10-12 12:49] dbrugger commented on #138
@lee-chase i like the approach taken here to be inclusive of the base props minus some few that are explicitly defined. one thought on the mechanism: instead of a for loop that deletes the unneeded props, could try not to include them when making a deep copy with the spread: `const { notNeeded1, notNeeded2, ...propTypes } = { ...Button.propTypes };`

[2020-10-12 13:43] lee-chase commented on #138
Yes, that works but means having to disable eslint e.g.  // eslint-disable-next-line no-unused-vars

[2020-10-12 15:28] lee-chase commented on #30
Assigned to David as it's another modal.

[2020-10-13 10:19] SimonFinney commented on #138
This pattern makes sense to me, although I'm curious as to how the Storybook output will look like for this? Further down the line, I suspect we can also pull this into a `global` helper should the need arise for a pattern like this again.

[2020-10-13 10:59] lee-chase commented on #138
Storybook does not currently help when using this pattern. We have to declare prop-types and defaults, but only for the values we want to use in a storybook. The documentation can point at carbon for other properties.

[2020-10-13 11:28] SimonFinney commented on #138
Great! It sounds like the model could be something like the following:

1. Remove Carbon properties being explicitly set in the shallow wrapper from `propTypes`, and `defaultProps`
2. Define unique properties for documentation in `propTypes` and `defaultProps` declarations
3. Point to parent Carbon documentation for a full list of 'inherited' properties
4. Indicate in the documentation that explic

[2020-10-13 15:23] #20 closed

[2020-10-14 08:20] SimonFinney opened #146 "Package naming"
This issue is to facilitate a discussion around defining a formal name for the package and repo that can be used going forward - The name `ibm-cloud-paks` isn't inclusive to components and packages that should serve the entire Cloud and Cognitive organisation.

Comments, discussion, ideas, and thoughts in the thread.

/cc @carbon-design-system/ibm-cloud-paks, @carbon-design-system/ibm-cloud-paks-d

[2020-10-14 09:33] lee-chase commented on #146
I spoke with Adrian Jones, Sean Stopnik and @Levinson1 (David Levinson) yesterday and David is looking into this.

I have suggested we go with a code name as opposed to using an organisational name, due to the changeable nature of org names.

I mentioned that Andy Gatford quite liked the idea of a play on Carbon

e.g.
- carbide - compound of carbon and metal
- carbite - not real but exists in game

[2020-10-14 09:56] SimonFinney commented on #146
Thanks @lee-chase - I agree we should use a codename, and I like the direction of `carbide`. 🎉

For consistency with the direction of rest of the ecosystem, I suspect we should remain under Carbon's namespace. Given the entire repo is currently baselined with React, would `@carbon/carbide` be succint enough at a top-level? We could then do something like:

- `@carbon/carbide`
- `@carbon/carbide-cd

[2020-10-14 10:36] vladbalanescu commented on #146
I think it's worth us going for this one `@carbide/components-react` to have our own namespace or `@carbon/carbide` if we really want to be under Carbon's namespace 👍

[2020-10-14 10:41] asfordmatt commented on #146
Our repo is hosted under Carbon, so I think we should publish under the `@carbon` namespace (and agree the names with Josh)

If we go with a codename instead of `ibm-cloud-paks`, can we rename the repo to match?

[2020-10-14 10:45] lee-chase commented on #146
Definitely, it is something I was asked about yesterday but didn't want to push ahead without getting agreement from the Carbon team.

[2020-10-14 12:13] Levinson1 commented on #146
As Lee mentioned, we need to remove reference to Cloud Paks, Bedrock, etc. as they those name are too limiting. I reached out to Josh Black yesterday to see if Carbon has a standard (or would like to take this as an opportunity to establish one). Given Cloud and Cognitive are one of a few major groups (AI Apps, Watson Health) building/maintaining a PAL library, it makes sense to have a standard. S

[2020-10-14 12:32] SimonFinney commented on #146
On Security, we use `@carbon/ibm-security` (https://github.com/carbon-design-system/ibm-security#getting-started), and I also see 'Carbon for IBM.com' using a `@carbon/ibmdotcom-*` pattern (https://github.com/carbon-design-system/carbon-for-ibm-dotcom#getting-started).

If we can be confident that the naming won't change from 'Carbon for Cloud and Cognitive', we could follow an approach like `@car

[2020-10-14 12:38] Levinson1 commented on #146
"If we can be confident that the naming won't change"

That's the problem. We know the name will change eventually.

Since 2015 our org has been:
Middleware Design
Hybrid Cloud Design
Cloud, Data & AI Design
Cloud & Data Platform (Arin) and Cloud and Cognitive Design (Rob Thomas)

[2020-10-14 13:19] asfordmatt commented on #146
If we're just talking about a name for the existing CDAI components, I think something like `@carbon/ibm-cloud-cognitive` would be fine as they will hopefully be superseded by the new core package before the next org rename :)

[2020-10-14 13:25] moores2 commented on #59
@cameroncalder It turns out that truncating titles over 56 chars to 55 chars + an ellipsis is hard to do in a culturally correct way, for 2 reasons:
1. You really need to truncate on a word boundary to avoid having a part word at the end of the line that might be offensive or confusing. This is really hard to do in languages like Chinese where the are no breaks (e.g. spaces) between words. In that

[2020-10-14 14:34] Levinson1 commented on #146
I heard back from Josh and it does seem that the other orgs are simply using the @carbon/ibm--<bu> naming convention. I am fine with adopting that as long as we all agree to not be under any illusion that it will be outdated when the next org name change comes around.

[2020-10-14 14:51] lee-chase commented on #146
So is this a democracy or are you telling us to use @carbon/ibm--cloud-cognative @Levinson1 ?

Which would also mean
- @carbon/ibm--cloud-cognative--automation
- @carbon/ibm--cloud-cognative--cdai
- @carbon/ibm--cloud-cognative--security

Or are we at liberty to choose our own? The favourites so far seem to be between:
- @carbon/carbide-components
- @carbide/components-react

[2020-10-14 15:06] joshblack commented on #146
Just wanted to leave a note, as Simon and David shared above the convention right now is the "Carbon for ___" and `@carbon/ibm-<bu>` convention, e.g. "Carbon for Security", `@carbon/ibm-security`, but this convention can definitely be revisited.

In this case, it seems like it'd be "Carbon for Cloud and Cognitive" for the PAL, `@carbon/ibm-cloud-and-cognitive` but things like the package name can

[2020-10-14 15:48] Levinson1 commented on #146
Let's go with  @carbon/ibm-cloud-cognitive.

[2020-10-14 20:32] Levinson1 opened #148 "About screen modal"
New pattern in need of code
https://pages.github.ibm.com/cdai-design/pal/patterns/about-modal/usage

[View about modal implementation](https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-aboutmodal--default)

Design Maintainer: Pascal Potvin (@pascal-potvin)
Dev Maintainer: Matt Gallo (@matthewgallo)

## Tasks

- [x] Initial review of design/existing code

### Working in experimental

[2020-10-18 16:21] SimonFinney commented on #12
@carbon-design-system/ibm-cloud-paks See https://github.com/carbon-design-system/carbon/blob/master/docs/guides/endgame.md for how we might want to model our release process

[2020-10-19 10:19] lee-chase commented on #59
@cameroncalder $transition—base is not listed as a valid token on the carbon design system website.  https://www.carbondesignsystem.com/guidelines/motion/overview#duration-tokens

In the carbon source code it is initially set to 250ms but updated to $duration--fast-02 (110ms). I have made use of the $duration--fast-02 token.

[2020-10-19 11:32] lee-chase commented on #59
@moores2 @cameroncalder
1. The divider under the breadcrumb/actionbar looks weird full width of the screen. Is this really a requirement?
2. With so many moving parts spacing is tricky. If there is an error please point out the specific case.
3. 'With Background BreadcrumbItems and Actionbar' - "Should include page title". No title is specified, but if one were it would initially be below the brea

[2020-10-19 23:07] cameroncalder commented on #59
Hey, yes it should go the full width of the screen

I'll go through the variants tomorrow and specify which should be addressed

Yeah, in [cases like this](https://ibm-cloud-paks.netlify.app/?path=/story/experimental-pageheader--with-background-breadcrumbitems-actionbar) where it's pre-collapsed it would show the title at the end of the breadcrumb 👍

[2020-10-20 17:24] #146 closed

[2020-10-21 08:19] lee-chase commented on #59
@cameroncalder's additional notes on spacing

![image](https://user-images.githubusercontent.com/15086604/96692909-8732ea00-137e-11eb-8a98-c0b2d730160c.png)

[2020-10-21 15:43] davidmenendez commented on #61
Initial development has been completed for the `RemovalModal` and all prerequisites listed above have been satisfied. I think this is ready for review.

[2020-10-21 16:33] lee-chase commented on #59
In discussion with @cameroncalder agreed

- Content switcher should scroll off same as tabs
- line under breadcrumb with action bars should be full width
- action bar items should be far right (of page)
- noted content switcher background issue (due to change of header background color).
- An option to keep both tabs and breadcrumb row would be nice
- Noted title in the 'With background & action b

[2020-10-21 20:32] joshblack commented on #12
@SimonFinney if it helps out, we simplified a bit from that end game process to basically the following:

- We follow 2 week sprints
- We're on a time-based release cycle
- Every other week (the second and fourth of each month) we do a **minor** release
- In between minor releases, we can still patch or do hotfixes in a **patch** release
- Before every minor release, we ship a Release Candidate fo

[2020-10-22 12:22] SimonFinney commented on #12
Thanks @joshblack ! That certainly helps simplify it - So far, my current thinking is:

- Time-based minor releases at a minimum once a month
- Hotfix and patch releases in-between minor releases where necessary
- A release candidate cut the week before a minor release for verification

[2020-10-22 18:06] matthewgallo commented on #54
See https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/159

[2020-10-23 15:44] #16 closed

[2020-10-26 14:24] Levinson1 commented on #57
@pascal-potvin Should this be deprecated now that the learning panel is getting worked into the Assist Me panel?

[2020-10-26 15:43] lee-chase commented on #59
Review notes (@lee-chase, @moores2 and @cameroncalder).

- Story 'With Background Breadcrumbitems Title Pageacations Content Swither' has an issue on scroll. (Page actions scroll half off).
- Breadcrumbs - When more than 3 + title use overflow https://www.carbondesignsystem.com/components/breadcrumb/usage/#overflow-content
- Title should be allowed 60% width before ellipses on larger screens. No c

[2020-10-26 16:14] lee-chase commented on #59
@cameroncalder note: We do not currently add pageActionButtons directly, they are supplied by the user. We could change the API to have the user pass just config for buttons giving us more control over the number and nature of buttons rendered.

[2020-10-26 16:58] davidmenendez commented on #61
@vikkipaterson @carrenelloyd this component is ready for a design review

[2020-10-27 20:33] cameroncalder commented on #59
@lee-chase @moores2

Here's a reference for the '[Long values and many items](https://deploy-preview-152--ibm-cloud-cognitive.netlify.app/?path=/story/experimental-pageheader--long-values-and-many-items)' example
![Page header with optional content](https://user-images.githubusercontent.com/50155706/97358755-b27b7480-1869-11eb-82db-992c231acc9f.png)

[2020-10-27 20:35] cameroncalder commented on #59
Spacing update to account for the existing margins around the tags
![Complex page header (tag placement option)-40bar Copy 22](https://user-images.githubusercontent.com/50155706/97358933-fc645a80-1869-11eb-94b2-f743f1319454.png)

[2020-10-28 13:52] moores2 commented on #52
**THIS QUESTION LIST IS A WORK-IN-PROGRESS**
After an initial review of the available design documentation I have the following questions:
### Major

1. The design pre-req's a `Tearsheet` component. When will the design for this be complete, and who will be implementing it?

### Minor
1. The anatomy of the modal create flow differs from a standard Carbon Modal (e.g. has a subtitle). Is this intent

[2020-10-29 16:27] asfordmatt opened #165 "Set up all-contributors list"
## Feature request or enhancement -

Using https://allcontributors.org/docs/en/bot/overview

### Summary

![]()

- **Design work item -**
- **Design assignee -**

- **Existing code -**
- **Dependent -**

[2020-10-30 10:57] asfordmatt commented on #165
@all-contributors please add @SimonFinney for code

[2020-10-30 12:27] asfordmatt commented on #165
@all-contributors please add @lee-chase for code

[2020-10-30 14:11] asfordmatt commented on #165
@all-contributors please add @moores2 for code

[2020-10-30 14:19] asfordmatt commented on #165
@all-contributors please add @joshblack  for code

[2020-10-30 14:25] asfordmatt commented on #165
@all-contributors please add @davidmenendez for code

[2020-10-30 14:31] asfordmatt commented on #165
@all-contributors please add @vladbalanescu for code

[2020-10-30 14:41] asfordmatt commented on #165
@all-contributors please add @matthewgallo for code

[2020-10-30 14:50] asfordmatt commented on #165
@all-contributors please add @asfordmatt for code

[2020-10-30 14:56] asfordmatt commented on #165
@all-contributors please add @dbrugger for code

[2020-11-02 14:26] lee-chase commented on #30
Hi @davidmenendez it might be useful for you to review https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/178

[2020-11-02 14:48] lee-chase opened #181 "Add Breadcrumb overflow component"
# Breadcrumb Overflow Content

## Details/Design

See https://www.carbondesignsystem.com/components/breadcrumb/usage/#overflow-content

Requried by #59

## Design Maintainer(s)

- Owner/main maintainer(s)
- Second/backup maintainer(s)

## Tasks

- [x] Initial review of design/existing code

None that we are aware of.

### Working in experimental package

- [ ] Create a shell component which
  - [

[2020-11-02 14:53] lee-chase opened #182 "Toolbar that shrinks to overflow"
# ToolbarWithOverflow

## Brief description

Toolbars like other components can have space restricted. This toolbar should collapse to a single overflow menu if there is not enough room for it to fit entirely, or on a property value being set.

Required by #59

## Details

See responsive examples here

https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/59#issuecomment-717534680

##

[2020-11-02 15:25] moores2 opened #183 "Tearsheet"
# Tearsheet component

Dev maintainer: Dave Clark (@dcwarwick)

## Brief description

The Tearsheet component facilitates rich modal interactions such as resource creations that require multiple steps. It is akin to a dialog that is anchored to the bottom of the viewport. They come in 2 sizes, narrow and wide, each with specific layouts. They can be stacked, facilitating nested interactions.

![im

[2020-11-02 20:19] matthewgallo commented on #148
Hey @Levinson1, is there a design contact for this component?

[2020-11-02 22:22] Levinson1 commented on #148
Hey @matthewgallo . Designer for this one is @pascal-potvin .

[2020-11-03 09:19] lee-chase commented on #182
Duplicate or customisation of #38 ?

[2020-11-04 20:37] matthewgallo commented on #148
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/187

[2020-11-05 09:42] lee-chase commented on #32
Peter Mills (IBM) posted an existing implementation example on internal slack. He is investigating the possibility of open sourcing the component.

https://files.slack.com/files-pri/T27SFGS2W-F01DE57RS3H/action_tag_list.gif

[2020-11-05 15:09] lee-chase commented on #182
Similar overflow behaviour to #32 and as a result should probably be on hold in the short term to see an update from the existing tag overflow code. Required by #59

[2020-11-06 18:00] lee-chase commented on #67
So looking at this component the following are not available form Carbon

- A toolbar button - a simple adjustment to a ghost button
- A toolbar separator/group - simple enough to create
- A dropdown that works within the confines of a toolbar. WARNING we may need to adjust to make it work within the confines of overflow hiding. Otherwise a slight wrap of the carbon component
- A composed dropdown

[2020-11-10 21:51] matthewgallo commented on #134
## Tasks

- [ ] Initial review of design/existing code

### Working in experimental package

- [ ] Create a shell component which
  - [ ] Create ComponentName/ComponentName.js component file that renders props
        in raw form (no styling or sub components, plain text OK)
  - [ ] Adds prop-types with comments for DocGen to
        ComponentName/ComponentName.js
  - [ ] Add Doc file e.g. Compone

[2020-11-11 14:13] #12 closed

[2020-11-13 15:06] barlock opened #213 "Broken Storybook examples"
## Detailed description

Some storybook examples seem to be broken.

Mostly giving an error that looks like:

`TypeError: Cannot read property 'fonts' of undefined`

## Steps to reproduce the issue

1. Visit https://ibm-cloud-cognitive.netlify.app/?path=/story/docs-description--text
2. Error!

## Additional information

![image](https://user-images.githubusercontent.com/5770007/99086671-d643f780-2

[2020-11-13 15:42] SimonFinney commented on #213
Strange - These look like Storybook example stories and likely shouldn't be included as part of the build

[2020-11-13 15:57] barlock commented on #213
_Interesting_ I'm quite interested in everything under `docs`.

Parts of this project are clearly stubs, are these implemented?

[2020-11-16 20:44] #213 closed

[2020-11-17 10:51] chloepoulterdesign commented on #52
Hi all, Andrew Smith has asked me to share these videos here:

![Create_advanced_options_toggle](https://user-images.githubusercontent.com/47979346/99381237-dc511580-28c2-11eb-9e61-8b361455366b.gif)
![Create-new-topic](https://user-images.githubusercontent.com/47979346/99381244-dd824280-28c2-11eb-85fb-10c01f858208.gif)

[2020-11-17 12:39] #131 closed

[2020-11-17 15:20] AlexanderMelox commented on #70
One concern I have while working on this is how are we going to handle the terminal part of it? Would we just allow the developer to pass their own Terminal component that way it's not opiniated?

[2020-11-17 20:51] ampersandrew-IBM commented on #52
Thanks for adding these @chloepoulterdesign!

@moores2, Can this motion get added as we're building out this pattern?

[2020-11-18 09:16] moores2 commented on #52
So, just to be clear - the first animation shows the left nav keeping in sync with the main content as the content is scrolled when 'show all available options' is on, and the second animation is showing the main content fading in and sliding down as the user moves from step to step, right?

[2020-11-19 11:05] lee-chase commented on #64
@gatfora @carrenelloyd wondering what the state of the design is here?

[2020-11-19 13:02] chloepoulterdesign commented on #61
### Issue 1
On `High impact` the modal is a "remove" but the button says "delete".
![image](https://user-images.githubusercontent.com/47979346/99669178-9c2a9800-2a66-11eb-99f2-16b0629b4cc7.png)
This is actually the case for a few of them - wherever Remove is used, it should be used in all places, and vice versa with Delete. This also needs to be consistent in the "post delete" modals.

### Issue 2

[2020-11-19 14:00] pascal-potvin commented on #148
This looks really good! A couple of small things here.

**Scroll fade**: The fade should be the exact same colour as the background, which goes from 100% opacity to 0% opacity. It seems to be currently set as black.

**Tabs:** They seem off in the Storybook example. We should be using the _default tabs_ and not the _container tabs_

![image](https://user-images.githubusercontent.com/38508793/99675

[2020-11-19 14:03] lee-chase commented on #181
Polina Olemskaia is picking this one up, assigned to myself in lieu of a github id.

[2020-11-19 14:05] lee-chase commented on #32
NOTE:
- Not yet added the show all feature.
- Raised a PR to carbon regarding alignment of the tooltip https://github.com/carbon-design-system/carbon/pull/7309

[2020-11-19 14:08] lee-chase commented on #32
Updates required by #59

[2020-11-19 15:25] vikkipaterson commented on #61
**Issue 1**
There shouldn't be an high impact version of remove.  High impact is only applicable to delete, whereas remove has the medium or low varieties so the high impact ones should only reference Delete, not remove.
<img width="805" alt="image" src="https://user-images.githubusercontent.com/11173284/99684970-fa14ab00-2a79-11eb-999b-f3414b2a0f5f.png">

**Issue 2**
Can we change the default tex

[2020-11-19 16:31] CourtneyBanning commented on #32
Just updated the original issue with updates to the pattern.

@lee-chase many of your concerns are addressed with this updated version. thanks for the feedback!

[2020-11-19 17:43] matthewgallo commented on #148
Thanks for the review @pascal-potvin, I think the deployed storybook is using a different `carbon-components-react` version, where the Tab component had a class change. This is what it looks like with the correct version

![image](https://user-images.githubusercontent.com/10215203/99702959-81572400-2a64-11eb-93db-f8853fad7050.png)

I'll take a look at the `scroll fade` issue you mentioned 👍

[2020-11-19 18:55] matthewgallo commented on #148
If you check out the main storybook, the tabs look ok. I think it was just that old storybook preview link, got messed up. See [here](https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-aboutmodal--with-technology-used-tab).

[2020-11-21 12:49] SimonFinney commented on #39
Still relevant

[2020-11-21 12:51] SimonFinney commented on #90
@lee-chase Can this be closed?

[2020-11-21 13:08] SimonFinney commented on #38
Superseded by #182

[2020-11-21 13:08] #38 closed

[2020-11-21 13:09] SimonFinney commented on #37
Still relevant

[2020-11-21 23:43] #72 closed

[2020-11-21 23:43] #22 closed

[2020-11-21 23:43] #23 closed

[2020-11-21 23:43] #3 closed

[2020-11-21 23:43] #13 closed

[2020-11-22 08:55] SimonFinney commented on #40
Still relevant

[2020-11-22 08:56] SimonFinney commented on #41
Still relevant

[2020-11-23 14:59] SimonFinney opened #225 "Lerna pre-commit formatting"
Format `CHANGELOG`s generated from Lerna command before they're committed.

[2020-11-23 16:32] lee-chase commented on #32
@CourtneyBanning the current design extracts text from the tag, which is technically problematic due to the way React works and Carbon tags not requiring text.

The following is valid
[code]

The design also precludes the use of filter tags.

This implementation https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-tagset--many-tags produces the following

![image](https://user-images.

[2020-11-23 18:14] davidmenendez commented on #61
@chloepoulterdesign @vikkipaterson thanks for the feedback. i'll take care of this ASAP.

[2020-11-23 22:07] mitchellbernstein commented on #183
Pattern guidance for tearsheet published: https://pages.github.ibm.com/cdai-design/pal/components/tearsheet/usage

[2020-11-23 22:16] gentryb commented on #183
@lee-chase  CPD (on-prem) is scoping priorities for 4.0 release. Several experience are looking to utilize the tearsheet component. Do you have a ball park time-line for when it will be completed?

[2020-11-24 15:40] #49 closed

[2020-11-24 16:02] davidmenendez commented on #61
@chloepoulterdesign @vikkipaterson upon further inspection of your feedback I think you may have been looking at the `IdeRemove` component, which is the old component. The new one is called `RemovalModal`. Some of the feedback provided was still applicable to the new component I worked on, but the screenshot indicates you were looking at the previous component. Here's the new component. The conten

[2020-11-24 17:00] #137 closed

[2020-11-25 09:02] moores2 commented on #183
The tearsheet is currently under active development. Almost all of the functionality is already available in the version in the experimental package. There is work to do on keyboard enabling, docs, and automated tests, prior to it being ready for design and engineering review. I hope it will be ready for those reviews in a couple of weeks, then it depends on the outcome as to how soon it can be pr

[2020-11-29 07:15] #87 closed

[2020-11-29 07:15] #58 closed

[2020-11-29 07:15] #55 closed

[2020-11-29 07:15] #62 closed

[2020-11-29 07:15] #63 closed

[2020-11-29 07:15] #65 closed

[2020-11-29 07:15] #66 closed

[2020-11-29 07:15] #68 closed

[2020-11-29 07:15] #71 closed

[2020-11-29 07:15] #51 closed

[2020-11-29 07:16] #60 closed

[2020-11-30 11:39] #225 closed

[2020-11-30 13:02] #90 closed

[2020-11-30 15:33] davidmenendez commented on #61
@chloepoulterdesign @vikkipaterson the stories have been updated. please take another look at the `with confirmation` and `without confirmation` stories under `Experimental/RemovalModal`

[2020-11-30 21:21] davidmenendez commented on #30
Ready for design review @chloepoulterdesign @vikkipaterson

I have a small PR up currently that fixes some a typo in the story that i'm waiting to get merged, which should be merged shortly, but aside from that it's ready for review.

[2020-12-02 10:52] chloepoulterdesign commented on #30
Thanks @davidmenendez
Am I reviewing the "IdeImport" or the "Import modals"?
![image](https://user-images.githubusercontent.com/47979346/100863149-07736180-348c-11eb-99b2-e70cf518eb26.png)

[2020-12-02 15:35] davidmenendez commented on #30
@chloepoulterdesign apologies. I meant to link it directly in my last comment. it's the Experimental version. https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-importmodal--standard

[2020-12-02 17:24] Levinson1 commented on #30
@chloepoulterdesign can you provide a final review before the end of the week?

[2020-12-02 17:25] Levinson1 commented on #61
@chloepoulterdesign can you provide a final review before the end of the week?

[2020-12-02 19:59] matthewgallo commented on #134
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/254 for initial work

[2020-12-03 09:43] chloepoulterdesign commented on #30
Thanks @davidmenendez , sorry I should have guessed that.

Here's my review.
In modals, we only allow single file upload/import, and therefore, the input fields should be disabled once a user has selected a file:
![image](https://user-images.githubusercontent.com/47979346/100991895-6a77fd80-354b-11eb-9fad-f370b3d875f3.png)
In the view above, the `1 / 1 files uploaded` line above the imported file

[2020-12-03 09:47] chloepoulterdesign commented on #61
Looks good to me.
If it is at all possible, it would be great to rename the component to `RemoveDeleteModal` to make it clear it can be used for either, but otherwise, LGTM!

[2020-12-03 13:49] lee-chase commented on #32
@CourtneyBanning  please review the current tags with overflow implementation. It currently does not display a simple text in the overflow pop up as this is not compatible with the tag implementation. We could use the contents of the tag but that can be anything, such as an icon.

Note 1: The next version of Carbon is required to align the popup, which should be in the next few days.
Note 2: There

[2020-12-03 14:06] lee-chase commented on #61
It would appear @davidmenendez that if you rename to RemoveDeleteModal the Chloe is happy to move this into 'Release Review' state.

[2020-12-03 14:42] lee-chase commented on #54
@vikkipaterson this shows recent updates https://github.ibm.com/CDAI-design/pal/commits/master/src/pages/patterns/empty-state/usage.mdx

If you are happy it reflects https://pages.github.ibm.com/cdai-design/pal/patterns/empty-state/usage can we move it to 'Release Review'?

[2020-12-03 14:50] vikkipaterson commented on #54
LGTM I wold say it can move to Release review.  Probably worth getting a visual designer to give it a once over as a final check.

[2020-12-03 15:19] lee-chase commented on #148
@matthewgallo you still need to adjust the fade color to move this into 'Release Review'

[2020-12-03 15:35] davidmenendez commented on #61
fantastic. i'll get this done today 👍

[2020-12-03 15:45] lee-chase commented on #59
Blocked:
- Waiting on a carbon update to be released with Tooltip align (10.25.0 which appears imminent).
- Also needs ActionBarItems overflow

[2020-12-03 15:54] lee-chase commented on #181
Blocked:
- Waiting on Carbon update including https://github.com/carbon-design-system/carbon/pull/7085 which could be two weeks as not included in 10.25.0.

[2020-12-03 16:26] lee-chase commented on #32
@CourtneyBanning has asked the overflow is changed to reflect the content of the tags, which will likely be text.

Noting that the design will need to document; Text only (Carbon allows anything), filter and disabled should not be used.

[2020-12-03 20:16] matthewgallo commented on #148
Scroll gradient issue is fixed with this PR, https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/256

[2020-12-04 12:44] lee-chase opened #257 "Runtime erro IdeSlideOverPanel"
I see this on storybook load

![image](https://user-images.githubusercontent.com/15086604/101165079-f5312900-362d-11eb-8346-2cc8b32269f0.png)

and this when I display an IdeSlideOverPanel story

![image](https://user-images.githubusercontent.com/15086604/101165309-578a2980-362e-11eb-8277-bcb0058eaa94.png)

[2020-12-04 12:48] lee-chase opened #258 "I see this on loading IdeButton in storybook"
I see this when viewing an IdeButton story.

![image](https://user-images.githubusercontent.com/15086604/101165402-80122380-362e-11eb-951c-bcbd01b5bb49.png)

Suggest fixing by
- Adding and documenting prop size
- Passing size as a prop as follows
[code]

[2020-12-04 12:50] lee-chase commented on #181
Has runtime errors

![image](https://user-images.githubusercontent.com/15086604/101165827-3544db80-362f-11eb-9ed3-2417097da8fd.png)

[2020-12-04 13:29] richardpilot opened #259 "Ide Navigation is center aligned"
## What package(s) are you using?
cdai

## Detailed description
_layout.scss from IdeComponents hasn't been migrated over. As a result, all products build using it are now center aligned.
https://github.ibm.com/cloud-integration-design/ide-components/blob/master/src/globals/scss/_layout.scss

[code]

[2020-12-04 16:37] davidmenendez commented on #31
@chloepoulterdesign @vikkipaterson export is now ready for design feedback https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-exportmodal--standard

[2020-12-04 17:21] chloepoulterdesign commented on #31
Thanks @davidmenendez

1. It looks like the success/failure modals are missing? They're in the IDE components [here](https://pages.github.ibm.com/cloud-integration-design/ide-components/?path=/story/under-construction-ide-exporting--simple-failure-example)
![image](https://user-images.githubusercontent.com/47979346/101193558-a64aba00-3654-11eb-9540-4195e3bcc5f4.png)

As raised above, lots of futur

[2020-12-04 17:23] davidmenendez commented on #31
since they were labeled as optional i wasn't sure if they were required for implementation. apologies. i'll work to add that in 👍

[2020-12-04 17:30] matthewgallo opened #261 "Side panel/s"
Pattern design documentation: https://pages.github.ibm.com/cdai-design/pal/components/side-panel/usage

# Side panel

Side panels keep users in-context of a page while performing tasks like navigating, editing, viewing details, or configuring something new.

## Details

[Link to Design]() [Link to example or existing component]()

### Links to other materials

https://pages.github.ibm.com/cdai-des

[2020-12-04 17:39] Levinson1 commented on #64
Design is complete and published
https://pages.github.ibm.com/cdai-design/pal/components/side-panel/usage

[2020-12-04 18:33] matthewgallo commented on #261
Duplicate of #64

[2020-12-04 18:33] #261 closed

[2020-12-04 21:31] mauifrancis78 commented on #134
@matthewgallo Ok finally got my Git up and working. Here are some points of feedback I see so far along with screen shots:

Spacing/padding (which I provided a screen for)
What happened to the bottom bar “view all” “settings icon”?
Individual notification dimiss controls
Read/unread states
Empty state spacing

![Notification active (click state)](https://user-images.githubusercontent.com/75501685/

[2020-12-07 12:10] chrisdudley opened #262 "HTTP Error components not as per design?"
Apologies if I'm missing something, but should the HTTPError components (https://ibm-cloud-cognitive.netlify.app/?path=/story/cd-ai-idehttperrors--default) look like the design here (https://pages.github.ibm.com/cdai-design/pal/patterns/http-errors/usage/ ) ?

Are they a WIP ? Or am I looking at an old design site?

[2020-12-08 11:59] #104 closed

[2020-12-08 20:17] davidmenendez commented on #31
@chloepoulterdesign i've pushed an update that includes showing success messaging, error messaging, adjustment to the naming validation, and pre-formatted extensions https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-exportmodal--with-success-message

[2020-12-09 08:39] chloepoulterdesign commented on #31
Looks great, thanks @davidmenendez !
Design approved ✅

[2020-12-09 10:16] chloepoulterdesign opened #265 "In-page navigation component"
# In-page navigation component

## Brief description

We've had a few requests in the last week or so for code for the in-page navigation component.
It is already implemented as part of the (old) create flow by CP4I.
It is also  implemented independently of the create flow by both Event Streams and MQ teams.

## Details

[Link to Design](https://pages.github.ibm.com/cdai-design/pal/wip/in-page-nav

[2020-12-09 16:29] #259 closed

[2020-12-10 17:56] SimonFinney opened #272 "Release review"
This issue is to facilitate a discussion around defining a formal process for conducting release reviews on individual components and patterns.

Comments, discussion, ideas, and thoughts in the thread.

/cc @carbon-design-system/ibm-cloud-cognitive , @carbon-design-system/ibm-cloud-cognitive-design, @carbon-design-system/ibm-cloud-cognitive-development

@matthew-chirgwin @vladbalanescu @asfordmatt

[2020-12-14 11:35] chloepoulterdesign commented on #265
Today I found that carbon have a very similar component included in their UI shell example in their React storybook.
https://react.carbondesignsystem.com/?path=/story/ui-shell--fixed-side-nav
It's pretty much identical, expect their implementation is instead of a left bar navigation - here's an illustration:
![image](https://user-images.githubusercontent.com/47979346/102076895-6035e900-3e00-11eb-8

[2020-12-15 14:28] matthewgallo commented on #134
Thanks for the feedback @mauifrancis78! I just finished the first version of the side panel component and have more time to make these updates now. I'll let you know when they're complete

[2020-12-16 10:06] lee-chase commented on #272
Personally, I think we should aim for 100% test coverage and check the storybook and it's doc tab.

With regards to the API we should answer the question. Are we likely to need to break this before v1.

[2020-12-16 12:48] SimonFinney commented on #272
Thanks @lee-chase - I'm all for defining a threshold for unit tests to ensure we have baseline coverage, as long we're not sacrificing the quality of tests in favor of hitting the numbers. Perhaps we should expand the criteria to include whether it's meeting appropriate use cases and that all inputs and outputs work as expected for consumers?

One thought on the API - I wonder if we should also ve

[2020-12-16 14:29] matthewgallo commented on #134
Made design updates here https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/283

[2020-12-17 15:50] richardpilot opened #286 "z-index issue with ideCreate and ContentSwitcher"
## Detailed description

When using the IdeCreate component with the fixed header, the header has a z-index of 2, unfortunately, the ContentSwitcher component has an index of 3 leading to visual inconsistencies.

## Example

![image](https://user-images.githubusercontent.com/13081745/102510501-9df47500-407f-11eb-8176-dbab07e005ac.png)

[2020-12-24 11:15] #138 closed

[2021-01-02 04:32] #57 closed

[2021-01-05 20:35] davidmenendez commented on #30
@chloepoulterdesign design feedback has been been applied. please review. https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-importmodal--standard

[2021-01-06 11:22] chloepoulterdesign commented on #30
Thanks @davidmenendez

I think issue ① is still there - when I've selected a file, the file upload drop area is still enabled - I would expect it to be disabled once I've selected the file.
![image](https://user-images.githubusercontent.com/47979346/103762661-9a199a00-5010-11eb-8fa5-2c39ada3533c.png)
I would expect it to look like this styling in the disabled state:
![image](https://user-images.gi

[2021-01-06 15:59] davidmenendez commented on #30
ahh i see. this is a quick fix. i'll have this done in a few minutes 👍

[2021-01-06 19:34] davidmenendez commented on #56
@vikkipaterson @chloepoulterdesign this component is now ready for design review https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-apikeymodal--standard

[2021-01-07 11:38] chloepoulterdesign commented on #56
Thanks David!

In `API Key modal > standard`:
1. I think the verb on the button should be `Generate` - ideally `Generate API key` rather than the current `Add API key`
2. I believe that while text in a modal should have a 20% margin on the right hand side, fields should be full-width.
3. The helper text which reads `Providing the application name will help you idenfity your api key later.` should

[2021-01-09 00:55] andrea-gm commented on #54
Is there a plan to implement empty states for data tables? Currently, each dev team is implementing in their own unique way.

[2021-01-14 15:34] davidmenendez commented on #56
@chloepoulterdesign updates have been made based on your feedback https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-apikeymodal--standard

[2021-01-14 17:34] chloepoulterdesign commented on #56
Wow David - you've done so much work on this. Thank you so so much.

I'm reallly sorry to have a couple of little things left:
### On 'Standard':
1. ![image](https://user-images.githubusercontent.com/47979346/104617623-924a9d00-5683-11eb-88f3-85ed6b628043.png)
The helper text is a bit close to the field. You can see the Carbon example has a bit more space:
![image](https://user-images.githubuserco

[2021-01-14 18:54] davidmenendez commented on #56
@chloepoulterdesign i'll get a pull request up shortly to address this round of feedback with the exception of the keyboard controls. I haven't done any work with keyboard controls and carbon components before, so I'll have to take some time to find out how to accomplish the keyboard control feedback you've provided.

[2021-01-15 09:59] chloepoulterdesign commented on #56
Thank you!
There is more designer guidance on keybaoard interactions on the [carbon website](https://www.carbondesignsystem.com/components/modal/usage#focus). I'm not sure about resources specifically for developers, but the [accessibility site ](https://www.ibm.com/able/)is also very good.

[2021-01-19 16:58] davidmenendez commented on #56
@chloepoulterdesign updates made based on your feedback with the exception of the keyboard accessibility things. Could you take a look? https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-apikeymodal--standard

[2021-01-20 18:55] Levinson1 opened #301 "Cards"
# Name of component or pattern - Cards

## Brief description - Cards group related pieces of information and invite the user to take action on the content. The user should be able to attain a quick overview of relevant and actionable content. Cards have a limited set of actions launched from them; this creates a singular focus for the user.

Add a brief description.

## Details

https://pages.gith

[2021-01-25 12:27] #286 closed

[2021-01-25 16:29] SimonFinney opened #305 "Onboard to `@carbon/telemetry`"
https://www.npmjs.com/package/@carbon/telemetry

[2021-01-25 17:39] AlexanderMelox commented on #70
I am currently working on this issue and should have it done within 2 weeks. Can we remove the stale status so the issue does not get archived?

[2021-01-27 15:53] chloepoulterdesign commented on #56
@davidmenendez the keyboard interaction work you've done is a huge improvement - i think it cut my button presses in half!

Tiny bugs:
### In "standard"
1. the "eye" icon in the password field looks a couple of pixels too low
![image](https://user-images.githubusercontent.com/47979346/106016056-fd01cc80-60b6-11eb-811d-f4fe9436947d.png)
2. When I hit "generate" the "generate" button remains enabled

[2021-01-28 22:59] qbi11y commented on #69
@lee-chase @carrenelloyd who do I need to speak with to come up to speed on this issue?

[2021-01-28 23:51] andrea-gm commented on #69
@qbi11y, Marion Brulls and Mitchell Bernstein (wish I could tag them...) own the pattern, but it is currently under discussion with Carmen Darlach for the dark/light theme switching, to determine what the behavior should be for light versus dark theme (map to lighter colors OR a white border around the circle). I've reached out to Carmen and will report back on what the decision is for the pattern

[2021-01-29 09:33] lee-chase commented on #69
Personally don’t like dark/light theme switches and think we should switch automatically based on theme. Unfortunately, it is only possible to take a best guess at the current Carbon theme based on the value of the background color.

[2021-01-29 16:06] marion-bruells commented on #69
Copying from our slack conversation:

Marion:
To your question @lee-chase :
[code]

We originally designed it with first and last name – how users also know from box and other applications. I know some applications use also the display name. What benefits are you seeing in using the display name instead on our platforms?

Lee: I felt the need to point out what is asked for elsewhere. If a display

[2021-01-29 16:08] marion-bruells commented on #69
@lee-chase If display name is elsewhere used over the users name I am ok to follow also that path.

[2021-02-01 20:22] lee-chase opened #316 "Prevent publication of sub-components"
Sub-components that are created while developing other patters should not be published for use by product teams.

At release review, add a step to encourage developers to discuss components that could be broken out.

Any such sub-components should not get their own top-level storybook folder. Perhaps a hidden dev storybook folder or a folder named "Internals" could be used.

Any such sub-component

[2021-02-01 21:01] lee-chase commented on #305
https://github.ibm.com/carbon/ibm/issues/97

[2021-02-02 10:58] lee-chase commented on #272
In summary:
- consistency (the APIs look similar, internally and to Carbon) - NOTE: Carbon sometimes uses node instead of string prop to add flexibility
- testing: coverage above X% yet to be defined
- stories covers designed scenarios
- design has signed off the current version
- Doc tab covers designed scenarios.
- Doc tab includes metrics like test coverage, usage when data available, status an

[2021-02-02 15:40] davidmenendez commented on #56
@chloepoulterdesign last round of design feedback has been merged https://ibm-cloud-cognitive.netlify.app/?path=/story/experimental-apikeymodal--standard

[2021-02-03 09:19] lee-chase commented on #67
The component is a significant task requiring various drop downs and information about the current state of the text editor. In addition, it seems somewhat odd to have such a functional text bar component without an editor.

[2021-02-03 09:19] lee-chase commented on #67
@carrenelloyd is there a rich text editor we have in mind for this?

[2021-02-03 16:51] andrea-gm commented on #67
Perhaps the question above is for @m-battelli

[2021-02-03 19:41] ConradSchmidt commented on #67
If you planning to use [CKEditor](http://ckeditor.com/) (most IBM products use it) I did a prototype/PoC to see if it would work: https://pages.github.ibm.com/conrad-schmidt/ckeditor-carbon-test/
This is **not** ready to use, but it can be a starting point

Main Editor code here: https://github.ibm.com/conrad-schmidt/ckeditor-carbon-test/blob/master/src/components/Editor/Editor.js

![image](https:

[2021-02-04 08:52] m-battelli commented on #67
@lee-chase
I’m finalizing the light and dark themes with Carbon team for the Sketch library.
A starting point here: https://ibm.box.com/s/5uplici33ajwquwbbjcgby6ol6ptu4wu
Other updates on different toolbar patterns are coming soon here: https://www.carbondesignsystem.com/patterns/text-toolbar-pattern/

[2021-02-04 18:34] lee-chase commented on #272
Being discussed here to progress https://ibm.ent.box.com/notes/772354757139

[2021-02-04 21:38] cameroncalder commented on #59
@lee-chase spacing I mentioned during our sync. `spacing-02` is the correct spacing between the breadcrumb and title in all instances except when there is a breadcrumb/actionbar
![image](https://user-images.githubusercontent.com/50155706/106958317-d10dc900-66fe-11eb-9ae0-3ffe282e10ab.png)

[2021-02-04 21:42] cameroncalder commented on #59
Manual expand/collapse reference images

![page header 10 manual expanded](https://user-images.githubusercontent.com/50155706/106958880-922c4300-66ff-11eb-862e-c322647b0fb5.png)
![page header 10 manual collapsed](https://user-images.githubusercontent.com/50155706/106958894-96586080-66ff-11eb-861f-71aecad6cd4e.png)

[2021-02-04 21:42] cameroncalder commented on #59
Link to Sketch file: https://ibm.box.com/s/tb0e5r5dh3zwbjvwp5081yr3lq6vfony

[2021-02-05 10:15] lee-chase commented on #272
Andrea Garcia -

[2021-02-05 10:27] lee-chase commented on #272
Perhaps as part of thie @SimonFinney we can also document the relationship between the various packages we currently have, or even just up add a description to each README.

[2021-02-05 13:55] SimonFinney commented on #272
Good point! I have an idea for this based on https://github.com/carbon-design-system/carbon#getting-started , and I can submit a quick PR for discussion

[2021-02-05 15:16] chloepoulterdesign commented on #56
I think it looks great @davidmenendez - bar the carbon issues we've identified about keyboard interactions in some of the modals, they look & work as expected.
Design approved

[2021-02-05 18:04] lee-chase commented on #265
@chloepoulterdesign there is no black left bar in Carbon React but outside of a styling is it really different from the side rail?

https://react.carbondesignsystem.com/?path=/story/ui-shell--side-nav-rail-w-header

[2021-02-06 14:52] lee-chase commented on #272
Not sure if this is applicable to React as other frameworks but avoiding use of standard HTML attribute names for anything other than their standard behaviour is not a bad idea.

[2021-02-08 16:47] lee-chase commented on #272
@SimonFinney I wonder if it would make sense to do away with experimental, add feature flags to our main package and publish multiple versions:

- @carbon/ibm-cloud-cognitive@latest
- @carbon/ibm-cloud-cognitive@canary - @latest + pending PRs

Only with the 'experimental' feature flag set components marked as experimental are exported from the package index.js.

The compiled CSS will have a bit of

[2021-02-08 16:49] marekdano opened #322 "Accessibility violations in IdeNavigation"
## What package(s) are you using?

## Detailed description

Accessibility violation
`Text contrast of 1.16 with its background is less than the WCAG AA minimum requirements for text of size 14px and weight of 400`

IdeNavigation

I'd expect no violations for icon buttons in the footer of the component

Chrome with [A11y checker
](https://chrome.google.com/webstore/detail/ibm-equal-access-accessib/

[2021-02-08 18:11] andrea-gm commented on #182
@lee-chase is this on hold or in progress? If on hold, could we move things out of "In progress"?

[2021-02-08 21:41] andrea-gm commented on #64
@matthewgallo will meet with the design owner Kacie to get design approval

[2021-02-08 22:01] davidmenendez commented on #30
@chloepoulterdesign when you get a chance can you please re-review. thank you!

[2021-02-09 00:37] andrea-gm commented on #53
https://github.ibm.com/ibmcloud/pal/issues/3706

[2021-02-09 09:17] chloepoulterdesign commented on #53
Update to the related design work Andrea mentions:
We are looking at the edit pattern for a "V2" much as the Create Pattern has recently been revisited. It's going to be a holistic effort to capture new requirements and use cases we didn't foresee before. It will also pick up new visual styling from the create pattern where relevant. We're in early stages at the moment, collecting examples across

[2021-02-09 09:23] chloepoulterdesign commented on #30
LGTM! 🙌🎉

[2021-02-09 11:01] lee-chase commented on #182
Needs tests and documentation before moving forward.

Needs an update to use labels instead of tooltips in overflow. Will address today.

[2021-02-09 11:04] lee-chase commented on #181
Runtime errors have been addressed. Needs to update styling to reflect that of the Carbon PR, which appears to have stalled.

[2021-02-09 13:29] lee-chase commented on #67
The ActionbBar component may be useful as a starting point for a toolbar.

[2021-02-09 18:02] matthewgallo opened #324 "Static asset issue when using component via npm package"
## What package(s) are you using?
@carbon/ibm-cloud-cognitive

## Detailed description

When I use the `<EmptyState illustration="nodata" />` component with an illustration via our npm package, the svg fails to load.

EmptyState component

The EmptyState should render the illustration/svg

Chrome

`10.27.0`

## Steps to reproduce the issue

1. Install `@carbon/ibm-cloud-cognitive-experimental`
2.

[2021-02-09 18:06] lee-chase commented on #52
Blocked by #183

[2021-02-09 19:01] ampersandrew-IBM commented on #52
@lee-chase Can you explain why this is blocked by the Tearsheet?

@moores2 How's the motion elements coming?

[2021-02-10 09:42] SimonFinney commented on #272
Because we don't explicitly cut releases, the current setup is essentially a canary build. I'd love to hear more about what you mean by including pending PRs - is this a manual process?

[2021-02-10 10:12] lee-chase commented on #52
Hmm, @ampersandrew-IBM @moores2 the first planned implementation was on Tearsheets, which @moores2 was working on prior to being diverted onto other stuff.

Unblocking as the non-TearSheet implementations are not blocked.

[2021-02-10 11:05] lee-chase commented on #59
Addressed in in #321

[2021-02-10 11:48] lee-chase commented on #59
@cameroncalder where does the chevron go if there are no tabs/tags?

[2021-02-10 15:28] lee-chase opened #330 "Remove TODOs from BreadcrumbWithOverFlow related to Carbon PR 7085"
Carbon has an open PR carbon-design-system/carbon#7085 which the current implementation copied styling and component use from. See // TODO: REMOVE borrowed from https://github.com/carbon-design-system/carbon/pull/7085

Blocked until resolution of 7085. Proceed accordingly when resolved.

[2021-02-10 15:29] lee-chase commented on #181
Unblocked copy styling of Carbon PR 7085

Raised the following issue for the removal of PRs and unblocking this issue.
https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/330

[2021-02-10 15:35] lee-chase commented on #59
Unblocked as a result of #329

[2021-02-10 21:06] andrea-gm opened #333 "Status icons pattern"
# Status icons pattern

## Brief description

Status icons are an important method of communicating severity level information to users. The shapes and colors, communicate severity that enable users to quickly assess and identify status and respond accordingly.

## Details

[Link to Design - colors are outdated](https://pages.github.ibm.com/cdai-design/pal/patterns/status-icons)

[Link to PAL issu

[2021-02-10 22:16] andrea-gm commented on #134
@matthewgallo in the preview I'm seeing an unexpected horizontal scrollbar
<img width="394" alt="Screen Shot 2021-02-10 at 2 15 48 PM" src="https://user-images.githubusercontent.com/14081333/107579767-8088e680-6baa-11eb-8b0a-e4478b57ee50.png">

[2021-02-10 22:31] matthewgallo commented on #134
Thanks for bringing this up @andrea-gm, I’ll take a look

[2021-02-11 14:00] qbi11y commented on #69
@marion-bruells @lee-chase @andrea-gm I have run into an issue where the design calls for a size (64px) that Carbon does not support. Is this 64px only for profile images or should it be applied to icons and initials as well?

In regards to font size, the design calls for 8 and 10px. The lowest carbon support is a 12px token. Is there a plan for Carbon to support these lower sizes or should the im

[2021-02-11 14:10] lee-chase commented on #69
@qbi11y `$spacing-10` and `$container-05` are undocumented 64px. `$layout-05` is also 64px.

[2021-02-11 16:24] AlexanderMelox commented on #70
Status update showed the designer some things that were off like the colors weren’t carbon colors. And we had to reduce some of the features (which will later be in another issue to enhance the web terminal). Should be getting a PR in by end of week.

[2021-02-11 17:37] matthewgallo commented on #134
Should be fixed [here](https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/334)

[2021-02-11 20:01] andrea-gm commented on #134
@matthewgallo Minor detail, sorry I just noticed this while reviewing the scrollbar PR, but I think it would be nice to have the hover state cover the whole 1px line at the top. Otherwise it looks a little choppy.

Thoughts @mauifrancis78 ?

<img width="654" alt="Screen Shot 2021-02-11 at 11 57 29 AM" src="https://user-images.githubusercontent.com/14081333/107691665-96f17980-6c60-11eb-99ad-b52515d

[2021-02-11 20:13] mauifrancis78 commented on #134
Not minor at all, in fact I think you are spot on! I agree 100%
 
Thanks,Maui FrancisDesign Principal  |  IBM Watson Data & AI  |  512.431.2654
 
 
----- Original message -----From: Andrea <notifications@github.com>To: carbon-design-system/ibm-cloud-cognitive <ibm-cloud-cognitive@noreply.github.com>Cc: mauifrancis78 <mfranci@us.ibm.com>, Mention <mention@noreply.github.com>Subject: [EXTERNAL] Re:

[2021-02-12 16:03] AlexanderMelox commented on #70
Dropping this here for future reference. Lots of good questions here.

https://github.ibm.com/CloudIntegrationDesign/DesignSystemAdoptionGuild/issues/91

[2021-02-12 17:23] amilligan opened #339 "Tearsheet: Input elements are not styled correctly in main content area with grey 10 theme"
## What package(s) are you using?
@carbon/ibm-cloud-cognitive-experimental

## Detailed description

We use the grey 10 theme, and are displaying a tearsheet containing a search input element and several text input elements.  With no extra styling, the input elements in the tearsheet main contain area have a grey ($ui-02) background rather than the expected white ($ui-01) background.

This appears

[2021-02-12 17:56] lee-chase opened #340 "Cloud & Cognitive Package re-org for release"
Based on #318 discussion

~~- [ ] Add component level feature flags (JS & SCSS) to determine whether a component is "Released"~~ moved to #364
- [x] Reorganise source tree removing experimental to cloud-cognitive.
- [x] Maintain publication of Security/ComboButton until replaced in cloud-cognitive.
- [x] Publish ibm-cloud-cognitive package - includes Canary components behind feature flags
- [x] De

[2021-02-16 18:14] dcwarwick opened #342 "Warning messages when PR is merged"
## Detailed description

There's a warning message appearing in the workflow summary when a PR is auto-merged by kodiak:
"1 issue was detected with this workflow: git checkout HEAD^2 is no longer necessary. Please remove this step as Code Scanning recommends analyzing the merge commit for best results."

This looks like a reference to the codeQL configuration: https://github.com/carbon-design-syst

[2021-02-16 19:39] SimonFinney commented on #342
https://docs.github.com/en/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow#warning-git-checkout-head2-is-no-longer-necessary

[2021-02-16 21:46] matthewgallo commented on #134
Hey @andrea-gm and @mauifrancis78, the underline issue will be fixed with #343.

[2021-02-16 23:13] andrea-gm opened #344 "Create: Modal"
# Create Modal

## Brief description

Modal version of the [Create pattern](https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/52)

## Details

[Pattern](https://www.carbondesignsystem.com/community/patterns/create-flows#modal)

## Design Maintainer(s)

- Andrew Smith
- @andrea-gm

## Tasks

- [x] Initial review of design/existing code

### Working in experimental package

- [x] Cr

[2021-02-16 23:16] andrea-gm opened #345 "Create: Side panel"
# Create: Side panel

## Brief description

Side panel version of the [Create pattern](https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/52)

## Details

[Pattern](https://www.carbondesignsystem.com/community/patterns/create-flows#side-panel)

## Design Maintainer(s)

- Andrew Smith
- @andrea-gm

## Release reviewer(s)

- @davidmenendez
- @JaredDevine

## Tasks

- [x] Initial revi

[2021-02-17 00:03] andrea-gm commented on #52
Created separate issues for Modal and Side panel versions and have added them to the "To do" list. Moving this general issue out of "To do" to avoid confusion.

Also I'm unclear if we need a Full page common implementation, and have not create an issue for it yet

[2021-02-17 00:26] andrea-gm commented on #31
@davidmenendez can we close this issue? or remove any labels?

[2021-02-17 00:31] andrea-gm commented on #56
@davidmenendez can we close this issue and open a new one for the above mentioned carbon issues? or does it make more sense to keep this one open, add the "blocked" label, and move it back to "To do" ?

[2021-02-17 01:18] andrea-gm commented on #258
Any update on this bug?

[2021-02-17 01:19] andrea-gm commented on #257
Are there plans to fix this bug?

[2021-02-17 01:22] andrea-gm commented on #262
No, you are right, the illustrations are different in the design. I believe it was updated sometime after the implementation was done.

[2021-02-17 01:32] andrea-gm commented on #48
Can we close this issue?

[2021-02-17 01:35] andrea-gm commented on #50
@SimonFinney @lee-chase We talked about this, but I don't fully recall. Did we say this was done or are we waiting on updated designs?

[2021-02-17 01:43] andrea-gm opened #346 "Empty state in DataTables"
## Brief description

Is there a plan to implement empty states for data tables? Perhaps as part of the DataTable extension? Currently, each dev team is implementing the table empty state in their own unique way, even if they use the common illustration.

## Details

Related to the [Empty states pattern](https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/54)

## Design Maintainer(s

[2021-02-17 01:58] andrea-gm commented on #91
I raised this recently with the DSIT and was met with some resistance. Mostly, I believe, because of the amount of work it would be to transfer over the internal repo's issues and the PAL site. We will need to plan, size the effort and make a proposal to get their support.

[2021-02-17 02:04] andrea-gm commented on #100
@SimonFinney was this resolved offline? Can we close the issue?

[2021-02-17 02:20] andrea-gm commented on #33
@lee-chase I'm trying to understand the status here. Are you in need of a design review? Or is the pattern itself incomplete?

[2021-02-17 02:22] andrea-gm commented on #29
@SimonFinney @lee-chase Is this meant to be the DataTable extension pattern being worked on by @pascal-potvin and the data table guild?

[2021-02-17 02:32] andrea-gm commented on #305
Is this in progress?

[2021-02-17 02:36] andrea-gm commented on #316
Would it make sense to turn this into an Epic, then we can create separate issues for each task? As is, this does not feel actionable to me and I am not sure who needs to be assigned to fix the bug(s).

[2021-02-17 09:42] SimonFinney commented on #50
We've definitely discussed it, but in my opinion it's blocked because the [design is still under review](https://pages.github.ibm.com/cdai-design/pal/wip/button-menu).

[2021-02-17 09:45] #100 closed

[2021-02-17 09:55] SimonFinney commented on #29
It was created using a seed list back in July so it could be the same, but the thinking could be out of date - I recommend closing this and creating a new issue when the design is no longer under review.

[2021-02-17 09:57] SimonFinney commented on #305
Blocked, as I believe the package currently flags a CVE - https://github.com/carbon-design-system/carbon/issues/7751

[2021-02-17 09:58] SimonFinney commented on #91
It's a nice-to-have but for now, I think it's sufficient to have close collaboration with design and development within this repo

[2021-02-17 10:13] SimonFinney commented on #48
It has been inactive since August 6, so my gut says yes

[2021-02-17 10:55] lee-chase commented on #56
@andrea-gm please do not close any issues that are being tracked by the project board until we have an alternative way to indicate/record state. At the very least an issue is required to promote to released, with both checklist and process in place.

[2021-02-17 16:17] matthewgallo opened #349 "Script to scaffold component shell breaks build"
## What package(s) are you using?
carbon/ibm-cloud-cognitive-experimental

## Detailed description

It appears that the new script to scaffold components imports the old prefix but uses the new one. This is causing things to break across different components.

[2021-02-17 17:59] matthewgallo commented on #349
#350 fixed this

[2021-02-17 17:59] #349 closed

[2021-02-17 21:37] andrea-gm commented on #56
@lee-chase makes sense! thank you. so the second option in my question then? :D

[2021-02-17 21:40] lee-chase commented on #56
Yes

[2021-02-17 21:42] andrea-gm commented on #48
@lee-chase I think I recall us talking about this and I thought it was resolved, but we may not have documented the outcome. I believe we said patterns will not have individual packages, correct?

[2021-02-17 21:44] #29 closed

[2021-02-18 00:57] andrea-gm commented on #64
@matthewgallo can you provide an update from your meeting with Kacie?

[2021-02-18 01:34] andrea-gm commented on #40
@SimonFinney Is this a new component or pattern? Can we add some links to designs, WIP, discussions, contacts?

[2021-02-18 09:56] SimonFinney commented on #40
This can be closed as it's unnecessary to house this pattern here right now - as I understand it will only be implemented by one team

[2021-02-18 09:56] #40 closed

[2021-02-18 13:31] matthewgallo commented on #64
Yes definitely, here are some of my notes:
[code]

[2021-02-19 07:55] yuecchen opened #355 "latest code failed in webpack build because of lack of dependencies"
## What package(s) are you using?
[code]
## Detailed description
here is parts of my devDependencies
[code]

while do webpack build, it turns out with error (firstly call for @crabon/grid, now @carbon/motion):
[code]

if `@carbon/ibm-cloud-cognitive-cdai` has dependencies, it should be added in to it's package.json

## Steps to reproduce the issue

1. Step one
add following to devDependencies:
[co

[2021-02-19 09:20] SimonFinney commented on #355
@asfordmatt / @vladbalanescu Any thoughts on this one?

[2021-02-19 14:11] matthewgallo opened #356 "PageHeader unusable in current build"
## PageHeader component breaks in latest build
@AlexanderMelox and I are working on a project that uses the PageHeader and we updated to the latest build and our app breaks because of an issue in the `unwrap-if-fragment.js` util that the PageHeader uses.

## What package(s) are you using?
`@carbon/ibm-cloud-cognitive-experimental`
specifically the `<PageHeader />` component
## Detailed description

[2021-02-23 15:04] AlexanderMelox opened #358 "Add unit tests for the web terminal component"
# Web terminal

Contributes to #70

## Brief description

The web terminal component does not have unit tests.

## Details

Details in PR #341

## Tasks

- [ ] Add WebTerminal.test.js

[2021-02-23 20:32] andrea-gm commented on #356
Is this issue now resolved with the above PR merged? @lee-chase @matthewgallo

[2021-02-24 12:41] lee-chase commented on #356
Yes.

[2021-02-24 12:41] #356 closed

[2021-02-24 18:06] lee-chase commented on #33
@andrea-gm A start was made. There are a number of open design questions. Carbon has made styling changes that break it since it was created.

[2021-02-24 18:11] #342 closed

[2021-02-24 18:27] Levinson1 commented on #33
@marciecorral can you or someone that helped document the original pattern help answer the questions Lee asked so we can get this one completed. Thanks.

[2021-02-25 14:18] lee-chase opened #361 "Test Epic"

[2021-02-25 14:19] #361 closed

[2021-02-25 15:30] AlexanderMelox commented on #358
@matthewgallo will take over the web terminal tests

[2021-02-26 09:35] lee-chase commented on #48
@andrea-gm  the decision was to stick with the status quo I believe. Essentially we can always switch strategy later but now it would be a distraction.

The options are:
1. One package per component allowing different patterns to be updated without forcing the adoption of multiple new patterns at once. Not current Carbon behaviour, but they are interested and have offered to work with us on toolin

[2021-02-26 12:47] lee-chase opened #362 "release"

[2021-02-26 12:47] #362 closed

[2021-02-26 13:01] lee-chase opened #363 "Finalise release review process and publish"
- [x] Update contribution guidelines
- [x] Add a review process document
- [x] Tidy up issue templates

[2021-02-26 13:04] lee-chase opened #364 "Add component level feature flags (JS & SCSS) to determine whether a component is "Released""
- [ ] Add feature flags
- [ ] Document and provide example feature flag

[2021-02-26 13:12] lee-chase opened #365 "Publish dev canary etc versions of package"
It would be useful to publish updates for production teams quickly.

- [ ] Investigate/publish ibm-cloud-cognitive-canary - Includes unreleased components without feature flag requirements
- [ ] Investigate/publish ibm-cloud-cognitive-dev - Includes PRs passing tests and that are mergable

[2021-02-26 13:15] lee-chase opened #366 "Create a non-experimental release of the ibm-cloud-cognitive"
- [x] Reorganise the repo into a single component source without 'experimental'.
- [ ] Change the package prefix to something other than 'exp' (what?).
- [x] Create a dummy forwarding wrapper at @carbon/ibm-cloud-cognitive-experimental (keeping 'exp' prefix and enable all components, and be marked deprecated).
- [x] Set up a review checklist to review components that are ready for release.
- [x] P

[2021-02-26 13:43] lee-chase opened #367 "Replace temporary ComboButton with designed version"
The page header currently uses a temporary combo button, it should be replaced by a designed version.

[2021-02-26 13:46] lee-chase opened #368 "Improve responsive behaviour of page-header"
The page header has various responsive requirements.

https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/59#issuecomment-701408228

- Care should be taken when dropping page Actions onto a new line so that it does not enter the Breadcrumb/ActionBarItem row too early.
- Tags wrap above the tabs when vsible
- Action bar items currently collapse to a comboButton. The design indicates

[2021-02-26 13:49] lee-chase opened #369 "Action bar item tooltip not visible on page header with all attributes set"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## Detailed description

When viewing hovering over an action bar item a tooltip should be visible. It is currently hidden due to stacking context.

- https://ibm-cloud-cognitive.netlify.app/?path=/story/cloud-cognitive-canary-pageheader--all-attributes-set

PageHeader / ActinoBarItem

Tip is visibl

[2021-02-26 14:02] lee-chase opened #370 "Pre-collapse feature enhancement"
The preCollapseTitleRow feature needs some work

For design see https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/59#issuecomment-776653465

- Replace with preCollapse of whole header
- Add expand/collapse button. @cameroncalder open questions copied from here https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/59#issuecomment-776653465
   - Where does the chevron g

[2021-02-26 14:46] dcwarwick opened #371 "Review and update contributing guidelines"
Ensure they align with our current repo and proposed review and release process.

[2021-02-26 15:08] #371 closed

[2021-02-26 15:10] dcwarwick commented on #272
Items discussed above now opened as issues under a new epic: #366. Closing this issue.

[2021-02-26 15:10] #272 closed

[2021-02-26 15:52] lee-chase opened #374 "Storybook seem sot take forever to build and start for the first time"
Can we speed up build and storybook launch?
Build is in the order of 30s, getting to see the stories takes around 40s https://ibm-cloud-cognitive.netlify.app/

[2021-02-26 16:03] lee-chase opened #375 "Add test coverage for page-header, action bar items, page actions, tag set and overflow breadcrumbs."
Tests for
- [ ] page-header
- [x] action bar items
- [ ] page actions
- [ ] tag set
- [ ] overflow breadcrumbs.

[2021-02-26 16:24] sydrosa opened #376 "Create the initial component structure"

[2021-02-26 16:27] andrea-gm opened #377 "Test"

[2021-02-26 16:29] #377 closed

[2021-02-26 16:35] andrea-gm opened #378 "User profile images: Initial component structure"

[2021-02-26 16:50] andrea-gm commented on #324
@lee-chase @matthewgallo @davidmenendez will discuss

[2021-02-26 16:53] andrea-gm opened #379 "Cards: Expressive type implementation"

[2021-02-26 16:53] andrea-gm opened #380 "Cards: Expressive type - Design feedback"
Please size the issue once design feedback is received.

[2021-02-26 16:53] andrea-gm opened #381 "Cards: Productive type implementation"

[2021-02-26 16:54] andrea-gm opened #382 "Cards: Productive type - Design feedback"

[2021-03-01 10:53] dcwarwick commented on #148
## Review for release

### Readiness

- [ ] One or more scenarios for a design pattern have been identified as a useful unit of functionality to publish.
- [ ] A functioning component or components delivering those scenarios have been delivered and merged to master.
- [ ] Design maintainer has approved the implementation for those scenarios (via a comment on the relevant issue/epic).

### Engineer

[2021-03-01 12:11] dcwarwick opened #383 "AboutModal: support display of "additional information" using tabs"
The component has a "technologiesUsed" prop which does indeed add one tab, but "technologies used" is only an example of the kind of additional information that a user of the About Modal might need to add. The additional information also needs to include the version number when multiple tabs are being used.

- [x] The component should enable **one or more tabs**, with supplied names and content, t

[2021-03-01 12:31] dcwarwick opened #384 "AboutModal: Remove 'theme' prop"
The 'theme' prop is too restrictive, as there are more themes in Carbon than it makes available. However, it is not needed at all because the client code can apply any desired Carbon theme to the modal to provide the design they require.

- [x] Remove the 'theme' prop from the AboutModal component
- [ ] Add notes and code samples to the doc showing how the AboutModal can be set to a different them

[2021-03-01 14:09] dcwarwick commented on #148
@pascal-potvin Hi Pascal -- we're now reviewing this component for release readiness: could you please check whether the AboutModal component complies with your design and post a comment here to confirm or to identify issues? Thanks.

[2021-03-01 14:18] dcwarwick opened #385 "AboutModal: adjustments to API to ensure consistency"
- [x] For consistency with Carbon and to ensure we're setting good precedents, let's make the following adjustments to the props for AboutModal:

- body: Change type to node, to enable inclusion of rich content if necessary (eg symbols) and to be consistent with similar Carbon props eg ModalHeader title. Change prop name to 'content' to be consistent with the design spec and terminology used in Co

[2021-03-01 23:40] JohannaSuarezKoval commented on #380
The expressive card looks great!
I have a few comments on things that need to be adjusted following the component guidelines. Please feel free to reach out if any of these points need more clarity:

1. Since card size increments only by 4 columns, could we get controls in the storybook by size (small-4col, medium-8col, large-12col, max-16col)  instead of allowing number input? This way, we avoid t

[2021-03-02 13:05] dcwarwick opened #390 "AboutModal: does not respond to dynamic changes in size"

[2021-03-02 13:14] dcwarwick opened #391 "Cross-browser testing"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## What did you want to know?

What do we do, as developers of components in Cloud & Cognitive, regarding cross-browser compatibility and support? Do we need to test cross-browser? And if so, what browsers should we be testing on and how do we do that testing?

[2021-03-02 14:59] dcwarwick opened #393 "AboutModal: standards and consistency"
We should follow the Carbon BEM pattern for class names etc, which is: `prefix--component-name__element-name--modifier`. Also, the pattern of using a constant `blockClass` in JS and `$block-class` in SCSS to capture `prefix--component-name` helps avoid slips. Also, all public components should use forwardRef to ensure they can be refed when needed, and should support className. Also, all unused pr

[2021-03-02 15:41] davidmenendez commented on #379
initial implementation complete. a new issue for design feedback has been open and sized here https://github.com/carbon-design-system/ibm-cloud-cognitive/issues/380

closing this issue.

[2021-03-02 15:41] #379 closed

[2021-03-02 17:30] andrea-gm opened #394 "Updates to the ReadMe"
Could the ReadMe use an update? I see it still references “Experimental” components.

For a developer coming in for the first time and consuming the components in their product, do we have instructions for installing and examples of importing and using a component? And any other info they may need to get started consuming.

I'm thinking we can follow [carbon-react's ReadMe](https://github.com/carb

[2021-03-03 13:47] lee-chase commented on #316
Probably just need to ensure sub-components are not listed as released in experimental/src/components/index.js

SCSS will hopefully be picked up as part of #364

[2021-03-03 13:50] lee-chase commented on #367
Needs #50

[2021-03-03 13:52] lee-chase commented on #181
I think this is more or less done for the page header. Need to check errors posted above and arrange a design review.

[2021-03-03 13:53] lee-chase commented on #182
Now users labels just needs tests

[2021-03-03 14:04] matthewgallo opened #395 "Notifications panel: translation issue from hardcoded strings"
## What package(s) are you using?

- [X] Cloud & Cognitive

## Detailed description

I noticed that there are some strings that are hardcoded in this component and this obviously won't allow for everything to be translated.

Notifications panel

These strings should have the ability to be translated.

Chrome

Latest

## Steps to reproduce the issue

1. See the following [utils](https://github.com/

[2021-03-03 15:38] sydrosa opened #397 "Check and update any lingering accessibility issues for component"

[2021-03-03 21:09] matthewgallo opened #399 "Side panel: Prevent slideIn prop in storybook controls"
## What will this achieve?
Currently you are able to toggle the `slideIn` prop in storybook for the [side panel component](https://ibm-cloud-cognitive.netlify.app/?path=/story/cloud-cognitive-canary-sidepanel--slide-over-extra-small). This causes things to break because `pageContentSelector` is required for the `slideIn` side panel.

## How will success be measured?

When there is no longer a togg

[2021-03-04 02:41] matthewgallo commented on #399
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/400

[2021-03-04 16:19] dcwarwick opened #404 "AboutModal: ensure test cases are complete"
The test cases for AboutModal need to test all inputs and outputs.

- [ ] The tests for `technologiesUsed` and `theme` need to apply `toBeTruthy()` to the `expect` as they currently don't actually test anything.
- [ ] Test that `open` works.
- [ ] Test that `onClose` works, including vetoing the close.
- [ ] Test that `className` works.

[2021-03-04 16:37] #399 closed

[2021-03-04 21:26] matthewgallo opened #405 "Web terminal: Move from experimental to canary storybook"
## What will this achieve?
This will allow the web terminal to move into the canary grouping since we've moved away from experimental.

## How will success be measured?
There are no more components left in `experimental`.

[2021-03-04 22:08] #405 closed

[2021-03-05 00:48] andrea-gm opened #407 "Advanced filtering"
# Advanced filtering

## Brief description

Advanced search can be used when the user requires to search and filter a list of items by choosing more than one filter from multiple filter categories. This pattern is especially useful when the number of items within each category is dynamic, such as filtering a table, by a user or user defined tags.

There is a component for this already under "Legac

[2021-03-05 00:52] andrea-gm opened #408 "Remove"
# Remove

## Brief description

“Removing” is an action that moves information from one location to another. Removal can be both destructive and non-destructive. “Deletion” is the most common type of removal and is destructive.

## Details

[Link to Design](https://www.carbondesignsystem.com/community/patterns/remove-pattern/)

## Design Maintainer(s)

- @vikkipaterson

## Tasks

Before starting w

[2021-03-05 00:55] andrea-gm commented on #408
Ugh. Ignore me. This already exists and is coded lol. Closing.

[2021-03-05 00:55] #408 closed

[2021-03-05 01:03] andrea-gm opened #409 "Saving"
# Saving

## Brief description

Preventing the loss of activity. Saving can be automatic or manual.

There is existing code for both auto-save and manual. The need here is to evaluate the components, update if needed, and move to "Cloud & Cognitive".

## Details

[Link to Design](https://pages.github.ibm.com/cdai-design/pal/patterns/saving/usage)
[Link to existing component](https://pages.github.i

[2021-03-05 14:59] matthewgallo opened #411 "Web terminal: Add entrance/exit animations"
## What will this achieve?
This will add entrance and exit animations when this components mounts/unmounts as specified in the design.

## How will success be measured?
When the component is rendered, it animates in/out.

## Additional information

- Designs
https://pages.github.ibm.com/cdai-design/pal/patterns/web-terminal
- Existing code
https://ibm-cloud-cognitive.netlify.app/?path=/story/cloud

[2021-03-05 18:35] #395 closed

[2021-03-05 19:48] matthewgallo opened #413 "PageHeader: Story previews reference old id"
## What will this achieve?
There are some previews coming from `PageHeader.mdx` which are using incorrect id's to retrieve the story, so they don't load anymore.

## How will success be measured?
If the PageHeader story previews in the docs tab are able to render once again.

[2021-03-08 13:57] #413 closed

[2021-03-08 14:41] matthewgallo opened #415 "HTTPErrors component"
# Name of component or pattern
HTTPError
https://pages.github.ibm.com/cdai-design/pal/patterns/http-errors/usage
## Brief description
`HTTP errors are used in an attempt to access something that isn’t available or the user doesn’t have permission for.`

This component will serve as an updated version to the one found [here](https://deploy-preview-412--ibm-cloud-cognitive.netlify.app/?path=/story/l

[2021-03-08 14:48] matthewgallo opened #416 "HTTPErrors: Initial component structure"
## What will this achieve?
Create initial component structure for HTTPErrors component using CLI tool.

## How will success be measured?
If all required component files are created and there is a basic structure to this component.

[2021-03-09 14:52] dkaushik95 opened #420 "package-settings-cmn.js fails to work properly"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## Detailed description

I am trying to add `PageHeader` component and I get the following error.
<img width="465" alt="Screen Shot 2021-03-09 at 7 46 45 AM" src="https://user-images.githubusercontent.com/8481567/110488691-eeda9f00-80ab-11eb-9fde-09124b9a5374.png">

I think the issue is somewhere [h

[2021-03-09 15:11] matthewgallo commented on #411
Complete

[2021-03-09 15:11] #411 closed

[2021-03-09 16:12] sydrosa opened #424 "Design review with Sam Ting"

[2021-03-09 16:13] sydrosa commented on #397
Downloaded and ran the Accessibility Checker -- did not see any glaring issues.

[2021-03-09 16:13] #397 closed

[2021-03-09 16:30] lee-chase commented on #420
Thanks, @dkaushik95 this should have gone away today now as the cmn.js file has been removed.

[2021-03-09 16:59] sydrosa commented on #424
@thefirstartist you can view the component here:

https://deploy-preview-373--ibm-cloud-cognitive.netlify.app/?path=/story/cloud-cognitive-canary-statusicon--default

[2021-03-09 17:01] sydrosa commented on #424
@thefirstartist you can view the component here:

https://deploy-preview-373--ibm-cloud-cognitive.netlify.app/?path=/story/cloud-cognitive-canary-statusicon--default

You may have to navigate to status icon in the left side navigation.

[2021-03-09 17:23] #376 closed

[2021-03-09 17:35] sydrosa commented on #424
@thefirstartist

The label is actually the name for the prop a user would need to supply to the component, so I wouldn't want to change that. What I can do is add an additional table in the documentation showing the size, and the corresponding pixel height/width. Will that work for you?

I'm not sure there's a way to do this. I'll do some digging and see if I can find a solution -- otherwise this

[2021-03-09 18:22] thefirstartist commented on #424
How about showing two icons in a table at the same time like this? You can remove the control for changing the theme if you can do this.
<img width="304" alt="image" src="https://user-images.githubusercontent.com/40870771/110518715-4a635780-80c1-11eb-9dc2-489dcf0c1560.png">

[2021-03-09 18:53] dkaushik95 commented on #420
Thanks! @lee-chase it works now, closing.

[2021-03-09 18:53] #420 closed

[2021-03-09 20:53] JohannaSuarezKoval commented on #380
So exciting how this card is taking shape!
Just a few details that I see in this last version:

- sm option makes the card 16col instead of 4col

- lg makes the card 4 col instead of 12col

- All the options under `ColumnSize` control are showing the number 4 after the size. Can it be adjusted to: sm-4, md-8, lg-12, max-16
<img width="327" alt="Screen Shot 2021-03-09 at 3 48 57 PM" src="https://us

[2021-03-10 15:58] #385 closed

[2021-03-10 16:16] sydrosa commented on #424
I went ahead and added a sizing table in the documents so users are aware of what pixel size correlates to what prop.

<img width="1059" alt="Screen Shot 2021-03-10 at 10 15 02 AM" src="https://user-images.githubusercontent.com/47571589/110660747-7cd88780-8189-11eb-8269-68aa2bd3a0f9.png">

With regards to the other request, it is not possible right now since we want to demonstrate exactly how the

[2021-03-10 16:16] #424 closed

[2021-03-10 22:54] #380 closed

[2021-03-11 13:01] #384 closed

[2021-03-11 20:28] AlexanderMelox opened #432 "Sidepanel component does not receive className prop"
## What will this achieve?

I don't want to wrap the `<SidePanel />` component around a div for a className. Also, it might seem weird because the Side panel is position fixed and simply giving a div a className around it doesn't position it fixed too.

## How will success be measured?

If I can pass a custom `className` prop to the SidePanel component

[2021-03-11 21:41] matthewgallo commented on #432
#433 now allows the SidePanel to accept a `className` prop that will add any custom class names.

[2021-03-11 21:41] #432 closed

[2021-03-11 21:41] AlexanderMelox opened #434 "[BUG] Side panel handleBlur throws error"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## Detailed description

https://user-images.githubusercontent.com/12755042/110857884-60bb1000-8287-11eb-930a-6a2646281ec5.mov

When clicking on an open on click for the Side panel it throws an error

Looks like these are the problems that I got from the call stack
[code]

 View the call stack 👇🏻
<d

[2021-03-12 21:58] qbi11y commented on #69
@lee-chase @andrea-gm this is ready for an initial engineering review. Please advise on how to proceed.

[2021-03-14 22:15] cameroncalder commented on #370
The chevron, used within the field size icon button, can still be placed in the same location as the tab/tag version. The background needs to be a prereq for the chevron/manual page header collapse functionality.
_Example without tabs for reference_
![page header 10](https://user-images.githubusercontent.com/50155706/111086076-695e5100-84e8-11eb-93b7-c16e6b4037c8.png)

The chevron should point up

[2021-03-14 22:27] cameroncalder commented on #368
Yup, agree comboButton would be the better example to show

For mobile, think we'll be ok with just the back arrow

We should keep this separate since the ActionBar & PageActions will most likely be unrelated. Here's an example of how we could consider handling the ActionBar (3 max icons shown. If more, then overflow)

![320 breakpoint example copy](https://user-images.githubusercontent.com/501557

[2021-03-15 04:26] andrea-gm commented on #69
@qbi11y I can do an initial review. I'll schedule some time for us tomorrow (Monday)!

[2021-03-15 10:01] lee-chase opened #440 "ES and LIB bundles include tests"
This may be due to inconsistent use of .spec.js, .test.js and other variants for test file names.

[2021-03-15 10:08] lee-chase opened #441 "Styling easy to accidentally override"
Update documentation and style guide to always take into account a later load of Carbon styles.

Any overrides we make should be at least one class more than Carbon.

Solution A: Wrap all of our component SCSS in at least block + 1 selector class
Solution B: Selector class + carbon class in the case of all overrides.

A. Works best if we allow 1 level of nesting.
B. Makes it clear that Carbon is b

[2021-03-15 19:09] #381 closed

[2021-03-15 19:14] davidmenendez commented on #382
Productive card storybook can be found here http://localhost:3000/?path=/story/cloud-cognitive-canary-card--productive

currently there are only two stories- one for the default mode and one with overflow actions. everything else should be controllable from the controls.

[2021-03-15 21:54] nertzy opened #444 "Compiled /lib/ files contain ES modules source in setIllustrationClass.js"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## Detailed description

We upgraded to the latest version of `@carbon/ibm-cloud-cognitive-experimental` and ran our Jest specs. We got the following output:

[code]

Yes, EmptyStates, probably.

I expected there to be CJS source in the `/lib/` directory subtree, instead of ES modules source.

0.24.

[2021-03-16 02:33] dcwarwick commented on #440
@lee-chase Actually, it turns out this is because babel globs for --ignore only support simple * and ** for whole slugs in pathnames, so globs like "**/*-test.js" are never going to work. They don't work for Carbon either, btw, and carbon-react ES and LIB bundles also include miscellaneous stories and tests. I suggest therefore that the patterns we settle on are _ComponentName_.test.js and _Compon

[2021-03-16 07:37] #383 closed

[2021-03-16 10:23] lee-chase commented on #440
@joshblack FYI Dave's comment above.

[2021-03-16 12:59] #416 closed

[2021-03-16 13:03] matthewgallo opened #449 "HTTPErrors: Add 404 and other HTTPError components"
## What will this achieve?
This will add the remaining HTTPError state components.

## How will success be measured?
When there are 3 total HTTPError components (403/404/other) in the storybook.

## Additional information

- [Designs](https://pages.github.ibm.com/cdai-design/pal/patterns/http-errors/usage)
- [Existing code](https://ibm-cloud-cognitive.netlify.app/?path=/story/cloud-cognitive-canar

[2021-03-16 14:47] #440 closed

[2021-03-16 14:52] dcwarwick opened #451 "Accessibility tests should not be susceptible to network/service failures"
## What will this achieve?

Currently, the accessibility test matcher `toBeAccessible.js` causes outbound network connections to be made, and fails if those cannot complete successfully. For example, we have sometimes seen this error from the CI check:
![image](https://user-images.githubusercontent.com/6385315/111329323-f3ccbf00-8666-11eb-8515-b5d0ac5710f2.png)
and running the tests with network d

[2021-03-16 15:28] sydrosa opened #452 "Create shell component"

[2021-03-16 15:44] sydrosa opened #453 "Generate component script error"
## What package(s) are you using?

- [x] Cloud & Cognitive

## Detailed description

Ran `yarn generate CreateModal` and received error:

[code]

No.

Expected 6 new files, got an error.

Not running a server rn

I have a feeling this error has everything to do with the escaped character on line 25 on `package.json`

[2021-03-16 18:32] matthewgallo opened #457 "Storybook props tables not rendering"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## Detailed description

The props table within the docs tab in storybook are not rendering for all components I've noticed recently.

[2021-03-16 19:06] davidmenendez commented on #457
This issue is being caused by the canary conditional at the top of the component. this can be fixed by moving the conditional to inside the component function. for example-

[code]

cc @lee-chase @dcwarwick

[2021-03-16 20:32] #363 closed

[2021-03-16 20:59] dcwarwick opened #460 "CLI should add new component name to list of components"
Can we add the generated component to the list of default components in package-settings.js when the CLI script runs? I think that would make the developer experience of using that script a little better.

[2021-03-17 00:05] dcwarwick opened #462 "Clean up test output"
There are a lot of console messages that are emitted, mostly by CDAI components, during the test run `yarn test`. This makes it very difficult to work out what tests are actually failing! If those console messages are not needed they should be removed, and if they are needed then the tests can absorb the console output rather than have it dumped at the console. Ideally this would be done by mainta

[2021-03-17 00:07] dcwarwick opened #463 "Clean up linter output"
There are a lot of linter warnings that are emitted, mostly from CDAI components, during the lint runs eg `yarn ci-check`. This is distracting, and makes it hard to pick through CI failure logs. The linter issues should be resolved, or marked to be ignored. Ideally this would be done by maintainers of those components, but we should probably do some/all of it for our own sanity purposes.

[2021-03-17 00:38] andrea-gm opened #464 "Tracking mechanism for use (or lack of use) of common components"
Per Arin's request, let's explore alternatives for how we might help leadership in both design and development track use of common solutions across their teams (since people cannot be trusted to talk to each other or do as they're told).

After an initial chat with @dcwarwick and @lee-chase, it sounds like Telemetry is the best solution, which @joshblack had started looking into a while back. Dave

[2021-03-17 01:20] andrea-gm commented on #355
@yuecchen @asfordmatt @vladbalanescu can we close this issue?

[2021-03-17 01:22] andrea-gm commented on #365
@lee-chase still relevant? should we move this into the Backlog?

[2021-03-17 01:23] andrea-gm commented on #375
@lee-chase Do we want to associate this issue with any Epics? Move it into the backlog?

[2021-03-17 01:25] andrea-gm commented on #382
@davidmenendez you mentioned you're waiting on the designer, correct? Would it make sense to move this issue into "On hold" or "In progress" ?

[2021-03-17 01:27] andrea-gm commented on #391
Firefox, Chrome, Safari, probably Edge. Definitely not IE.

[2021-03-17 01:40] andrea-gm commented on #48
I am closing this issue for now, we can open it up again if the strategy changes

[2021-03-17 01:40] #48 closed

[2021-03-17 01:41] andrea-gm commented on #257
@asfordmatt @vladbalanescu if no plan to fix, can we close this issue?

[2021-03-17 01:42] andrea-gm commented on #258
@asfordmatt @vladbalanescu any plans to fix? if not, can I close this issue?

[2021-03-17 01:43] andrea-gm commented on #346
I think we can cross this bridge when we get there. Closing for now

[2021-03-17 01:43] #346 closed

[2021-03-17 15:10] #449 closed

[2021-03-17 15:17] matthewgallo opened #467 "Notifications: needs to use updated empty states component"
## What will this achieve?
This will ensure that the Notifications component uses the new version of the empty states component. It is still uses the old version and won't work in its current implementation.

## How will success be measured?

The notifications empty state renders properly.

[2021-03-17 17:25] dcwarwick commented on #453
Fixed by #455

[2021-03-17 17:25] #453 closed

[2021-03-17 17:39] davidmenendez opened #470 "Saving: implementation"
design implementation https://pages.github.ibm.com/cdai-design/pal/patterns/saving/usage

[2021-03-17 17:40] davidmenendez opened #471 "Saving: design feedback"
Link to saving storybook https://ibm-cloud-cognitive.netlify.app/?path=/story/cloud-cognitive-canary-saving--auto

[2021-03-17 18:32] joshblack commented on #464
Hey @andrea-gm! 👋

Definitely happy to chat telemetry to see how we can help out 😄  This definitely aligns with our roadmap as a team and I'd love to sync up and see how we can help out!

[2021-03-17 20:30] mattrosno commented on #464
Hi @andilozano - Matt here on the Carbon team with @joshblack. Can you include me in those convos? We'd be happy to show you our alpha telemetry solution that has been collecting data for a few good months now.

https://www.carbondesignsystem.com/help/faq/#telemetry

It sounds like step 1 is onboarding your packages into Carbon's telemetry. We can demo what we have today and where we see that goin

[2021-03-17 23:23] andrea-gm commented on #464
Hi @mattrosno ! I am adding you as optional for our meeting tomorrow, unfortunately looks like you have a conflict and I need an overview of telemetry asap. However, we will definitely include you in all future chats!

Regarding what we're after, I think it can be broken down into 2 things. (1) We need a sense of the overall adoption rate for the ibm-cloud-cognitive library and each of the compone

[2021-03-18 00:14] andrea-gm commented on #333
Needs to stay in "Review/QA" until it's out of Canary

[2021-03-18 00:17] andrea-gm commented on #262
@matthewgallo if this is low hanging fruit, do you think you could prioritize it to be done in the next week or so?

[2021-03-18 00:18] andrea-gm commented on #262
Wait...... this looks done in the storybook??? did we forget to close this issue lol

[2021-03-18 00:20] #262 closed

[2021-03-18 00:43] dcwarwick commented on #457
The downside of moving the conditional to inside the component function is that various bits of React, like useState and useEffect, cannot be used inside conditional branches: they must occur in the same sequence in all circumstances. So if the conditional is moved inside the component function, it needs to move all the way to where we are just about to return the render function, and can't enclos

[2021-03-18 01:10] matthewgallo commented on #262
Yes, just finished adding the two other versions (404 and other). All three should be in the storybook now, I forgot to link my PR to this issue!

[2021-03-18 14:28] #467 closed

[2021-03-18 14:40] matthewgallo commented on #444
This should be fixed now that #465 has been merged

[2021-03-18 14:40] #444 closed

[2021-03-18 14:44] #404 closed

[2021-03-18 15:14] mattrosno commented on #464
@andrea-gm sounds great. So we don't lose this information, I also cross-referenced it here: https://github.ibm.com/carbon/ibm/issues/99

Here's another issue that you may want to check out. Less of a focus on specific components, but more how we plan on using telemetry to track KPIs across Carbon. The asset consumption KPI very related here. https://github.ibm.com/carbon/ibm/issues/66

[2021-03-18 15:19] matthewgallo commented on #358
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/475

[2021-03-18 16:19] JohannaSuarezKoval commented on #382
Thanks again for the hard work with this component!

The productive card is a bit more complex than the expressive, so we need to have some variations.

- The productive card needs to be a separate component from the expressive in the storybook. They are two different types and used in different contexts. Therefore the controls are different for each. For example, the expressive card's action plac

[2021-03-18 17:39] lee-chase commented on #464
Added @carbon/telemetry in https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/477

From slack conversation with Josh, Andrea and Dave.
- https://ibm-casdesign.slack.com/archives/C01CE1YPJJ0 #carbon-analytics
- https://github.ibm.com/ibmcloud/pal/blob/master/statistics/adoption/repo-latest.json info collected to date.
- https://ibm-studios.slack.com/archives/C01CE1YPJJ0/p1602255784004

[2021-03-18 18:27] #358 closed

[2021-03-18 18:57] matthewgallo opened #480 "SidePanel: Add button set wrapper to primary action buttons"
## What will this achieve?
This will allow us to follow the design as intended with small gap between the primary action buttons via the button set.

## Additional information

- Designs
- Existing code
- etc

[2021-03-18 19:26] #457 closed

[2021-03-19 11:31] #305 closed

[2021-03-19 13:52] dcwarwick commented on #441
Resolved by #481

[2021-03-19 13:52] #441 closed

[2021-03-19 17:31] andrea-gm opened #484 "User profile images: Design feedback"
## What will this achieve?

Design review

## How will success be measured?

Component matches design

## Additional information

The color blue is out because it is so similar to Cyan. Also, the 80 colors now map to the 30 colors. And the 60 colors map to the 50 colors, because the focus is now on the contrast relative to the background color rather than the intensity of the colors themselves.

[2021-03-19 18:49] #460 closed

[2021-03-19 19:33] matthewgallo opened #485 "EmptyStates: prep for release review"
## What will this achieve?
Going through and ensuring the empty state components follow the new release guidelines.

## How will success be measured?

When all of the release items in the checklist have been satisfied and the components follow all of our new coding standards.

[2021-03-19 19:45] #393 closed

[2021-03-19 20:05] andrea-gm opened #486 "Form component"
# Form

## Brief description

A component that can be passed to Modal, Side panel and Tearsheet. Or used in any page as form layout. To include required fields, form field validation, error notifications.

## Details

[Link to Pattern](https://www.carbondesignsystem.com/components/form/usage/)

## Design Maintainer(s)

- Carbon team

## Tasks

Before starting work on this epic, please review and c

[2021-03-19 20:16] andrea-gm opened #487 "Move Tearsheet out of Canary"
## What will this achieve?

Happy design and dev managers

## How will success be measured?

Component passes release review and testing.

## Additional information

N/A

[2021-03-19 20:17] andrea-gm opened #488 "Move Page Header out of Canary"
## What will this achieve?

Happy design and dev managers

## How will success be measured?

Component passes release review and testing

## Additional information

N/A

[2021-03-19 20:17] andrea-gm opened #489 "Move Cards out of Canary"
## What will this achieve?

Happy design and dev managers

## How will success be measured?

Component passes release review and testing

## Additional information

N/A

[2021-03-19 20:18] andrea-gm opened #490 "Move Side panel out of Canary"
## What will this achieve?

Happy design and dev managers

## How will success be measured?

Component passes release review and testing

## Additional information

N/A

[2021-03-19 20:19] andrea-gm opened #491 "Move status icons out of Canary"
## What will this achieve?

Happy design and dev managers

## How will success be measured?

Component passes release review and testing

## Additional information

N/A

[2021-03-22 14:52] #470 closed

[2021-03-22 15:19] dcwarwick opened #500 "Remove ExampleComponent from exports"
## What will this achieve?

ExampleComponent is intended as a dev reference, and shouldn't be in our public release (even as a Canary).

## How will success be measured?

No ExampleComponent in public release!

[2021-03-22 15:19] dcwarwick commented on #500
We should probably leave comments in the global index.js etc explaining that/why ExampleComponent isn't there.

[2021-03-22 15:55] #452 closed

[2021-03-22 16:03] andrea-gm opened #502 "Move HTTPErrors out of Canary"
## What will this achieve?

Non-experimental components

## How will success be measured?

Component passes release review and testing

## Additional information

N/A

[2021-03-22 16:05] andrea-gm opened #503 "Move EmptyStates out of Canary"
## What will this achieve?

Non-experimental components

## How will success be measured?

Component passes release review and testing

## Additional information

N/A

[2021-03-22 16:17] andrea-gm opened #504 "Import: Wrong modal background color"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## Detailed description

Modals in Carbon should have the opposite background color. For example, when in the "white" theme it should have g10 background color. In g10 it should have white background color.

## Steps to reproduce the issue

1. Go to our storybook
2. toggle the Theme

## Additional i

[2021-03-22 16:44] matthewgallo commented on #485
Duplicate of #503

[2021-03-22 16:44] #485 closed

[2021-03-22 17:04] matthewgallo commented on #503
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/505

[2021-03-22 17:16] andrea-gm commented on #485
whoops, forgot this existed

[2021-03-22 18:44] matthewgallo commented on #502
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/506

[2021-03-23 01:39] matthewgallo opened #507 "Move Notifications out of Canary"
## What will this achieve?
Moving the Notifications component closer to release

## How will success be measured?
When all review list items are complete for this component.

[2021-03-23 10:22] sauravazad opened #508 "Importing pkg from ESM module breaks Jest test cases"
## What will this achieve?
Importing pkg from ESM module breaks Jest test cases

eg:
[code]

When running Jest test cases it throws below error
![image](https://user-images.githubusercontent.com/3856934/112131442-93ea9100-8bef-11eb-8daf-007baf190cc9.png)

## How will success be measured?

## Additional information
Importing from CommonJS module works fine

import { pkg } from '@carbon/ibm-cloud-co

[2021-03-23 16:11] matthewgallo commented on #507
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/509

[2021-03-23 16:50] lee-chase commented on #508
@sauravazad can you supply version numbers and ideally a codesandbox https://codesandbox.io/dashboard/all/?workspace=7d09c446-5d37-4748-92d5-3d510c6572d4

[2021-03-23 16:51] sydrosa opened #510 "Flip in-progress and running icons"
More information here:

https://github.ibm.com/CDAI-UX-Engineering/uxe-agency-work/issues/98

[2021-03-23 16:57] lee-chase commented on #508
NOTE: I believe @sauravazad is using "@carbon/ibm-cloud-cognitive-experimental": "^0.21.2" which is two weeks old.

I have requested they try the latest.

[2021-03-23 18:53] matthewgallo opened #513 "Move WebTerminal out of Canary"
## What will this achieve?
Moving the WebTerminal component closer to release

## How will success be measured?
When all review list items are complete for this component.

[2021-03-24 09:24] sauravazad commented on #508
I am still getting the issue with Package version: "@carbon/ibm-cloud-cognitive": "0.28.9" .

Let me create a codesandbox .

[2021-03-24 10:48] dcwarwick opened #514 "Codesandbox examples of components should include a carbon theme selector"
Would be useful, as there are often issues relating to themes and correct display. Popping in this issue to capture the thought. @lee-chase fyi.

[2021-03-24 10:52] lee-chase commented on #514
It would need to be something that did not interfere with the layout of full width/height components.

[2021-03-24 13:20] dcwarwick commented on #148
Component reviewed and released.

[2021-03-24 14:32] dcwarwick opened #517 "Stacked tearsheets are resized rather than scaled"
When tearsheets are stacked, the "behind" tearsheets are sized slightly narrower, and this is done with width. This means that it's possible for there to be a visible reflow as a tearsheet gets revealed and "brought forward". This could perhaps be fixed by using transform instead. Or something.

[2021-03-24 14:35] dcwarwick opened #518 "Micro-animation when stacked tearsheets are closed is clunky"
When a stacked tearsheet is closed, revealing tearsheets behind it, the brightness increases all at once, whereas a nice smooth fade-up would be better. Also, there seems to be a flicker of a white area at the top tearsheet level.

[2021-03-24 15:49] andrea-gm commented on #471
@davidmenendez For auto-save I noticed the whole thing moved up when the text on the bottom appeared. Might be fine and the developers will know what to do with it, just mentioning what I saw.

For the manual save, the button kind of changes size a lot. Not sure if that was the design intention... and if it was the intention I'd question if it was a good idea... but yeah, besides that looks great!

[2021-03-25 13:37] #434 closed

[2021-03-25 14:39] #510 closed

[2021-03-25 18:05] sydrosa opened #522 "Design review #1"

[2021-03-25 18:51] matthewgallo opened #523 "Notifications: new notifications don't filter correctly"
## What package(s) are you using?

- [X] Cloud & Cognitive

## Detailed description

After putting together a codesandbox for this component, I noticed that when adding new notifications they do not get filtered as expected. New notifications should get put to the top of the list since they are the most recent.

Notifications panel

Instead of the new notification being at the top of the "Today" s

[2021-03-25 21:00] davidmenendez opened #525 "Card refactor experiment"
Based on discussions we've had regarding the Card component we decided to try a pattern of having a base component and named themed components.

The benefit of doing this would be 1. PropTypes can be assigned more accurately based on the theme or mode (expressive vs productive) and 2. A component can be imported by name and doesn't require a prop to establish a mode. this may be a more clear way t

[2021-03-26 10:56] Eryk-Jarocki1 opened #530 "Lodash 4.17.20 vulnerability"
## Detailed description

After running npm list --prod lodash here is the output for ibm-cloud-cognitive:

├─┬ @carbon/ibm-cloud-cognitive@0.30.6
│ ├─┬ @carbon/telemetry@0.0.0-alpha.6
│ │ └─┬ @babel/traverse@7.12.12
│ │   └── lodash@4.17.20

Lodash versions prior to 4.17.21 are vulnerable to Regular Expression Denial of Service (ReDoS) via the toNumber, trim and trimEnd functions.

https://nvd.nis

[2021-03-26 12:12] #523 closed

[2021-03-26 17:03] davidmenendez commented on #471
yeah i wouldn't worry about that. This is one of those instances where you shouldn't get too wrapped up in the storybook implementation haha

based on the design documentation it wasn't exactly clear, but ultimately if you have a button and you have it in two states where one state has a string with fewer characters than the second then the button has to grow to accommodate the text. in a real wor

[2021-03-26 17:03] #471 closed

[2021-03-29 16:06] andrea-gm commented on #522
@sydrosa are you needing another design review?

[2021-03-29 16:57] lee-chase commented on #507
@matthewgallo notifications adds a console error on test. Please mock the console error as per `packages/cloud-cognitive/src/__tests__/index.test.js`

[2021-03-29 16:58] lee-chase commented on #503
@matthewgallo EmptyStates adds a console error on test. Please mock the console error as per `packages/cloud-cognitive/src/__tests__/index.test.js`

[2021-03-29 18:06] matthewgallo commented on #507
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/535

[2021-03-29 18:06] matthewgallo commented on #503
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/535

[2021-03-29 18:24] sydrosa commented on #522
@andrea-gm not yet -- rn I am just addressing some of the concerns that you made last week such as:

1. Caret/icon in `Dropdown` component is not in view
2. Weird 1 pixel border-bottom on the button set in the modal
3. `NumberInput` component buttons are strange.

Addressing these with the Carbon team before I start overriding!

[2021-03-30 01:15] sydrosa commented on #522
@andrea-gm would love another review -- addressed the above.

[2021-03-30 09:29] #369 closed

[2021-03-30 09:30] lee-chase commented on #181
Tests added with #573

[2021-03-30 09:32] lee-chase commented on #182
Tests added with #338

[2021-03-30 14:19] dcwarwick commented on #183
## Review for release

### Readiness

- [ ] One or more scenarios for a design pattern have been identified as a useful unit of functionality to publish.
- [ ] A functioning component or components delivering those scenarios have been delivered and merged to master.
- [ ] Design maintainer has approved the implementation for those scenarios (via a comment on the relevant issue/epic).

### Engineer

[2021-03-30 16:21] matthewgallo opened #542 "HTTPErrors: centering issue in code sandbox"
## What package(s) are you using?

- [X] Cloud & Cognitive

## Detailed description
There seems to be some missing css to properly center the HTTPError content.

HTTPErrors

To have the HTTPError content properly centered.

Chrome

Latest

## Steps to reproduce the issue

1. Render an HTTPError component, see that content is not centered.

https://codesandbox.io/s/httperror-403-sv5ud

## Additiona

[2021-03-30 20:37] andrea-gm commented on #67
@carrenelloyd Your original link to design is giving a 404. Is this the latest design? Has this component been renamed to Toolbar? https://pages.github.ibm.com/cdai-design/pal/patterns/toolbars

[2021-03-30 21:48] andrea-gm opened #546 "Align tearsheet to latest design"
## What will this achieve?

Alignment with design

## How will success be measured?

Design review

## Additional information

- Design - https://pages.github.ibm.com/cdai-design/pal/components/tearsheet/usage

Specifically noticed the footer section and button type are inconsistent.

[2021-03-31 10:35] dcwarwick commented on #508
The problem here is that Jest runs under Node.js and uses CommonJS by default for module loading, not ESM. The difficulty is that when reaching into a package for anything other than the main entry point the import path has to explicitly choose whether to go for es (ESM) or lib (CommonJS).

@sauravazad you can work around this by:
 * (1) ensuring you have an up-to-date Node.js. Anything >13.2 shou

[2021-03-31 11:21] #370 closed

[2021-03-31 13:19] dcwarwick commented on #333
## Review for release

### Readiness

- [ ] One or more scenarios for a design pattern have been identified as a useful unit of functionality to publish.
- [ ] A functioning component or components delivering those scenarios have been delivered and merged to master.
- [ ] Design maintainer has approved the implementation for those scenarios (via a comment on the relevant issue/epic).

### Engineer

[2021-03-31 13:58] dcwarwick opened #547 "Review fixes for StatusIcon"
## What will this achieve?

To complete the review of StatusIcon:

- [x] Add DocGen comments for the props.
- [x] Rename the `type` prop to `kind` to follow carbon current convention.
- ~~[ ] Add defaults (size='medium', theme='light') for size and theme, and make them non-required (leave type as required), for consistency with carbon's approach.~~ In previous discussion it was thought preferable

[2021-03-31 14:48] #542 closed

[2021-03-31 15:37] sydrosa commented on #547
Hi @dcwarwick I'm cc'ing @andrea-gm since we had this conversation re: #3 : `add defaults for size and theme` since we don't want a light/medium sized icon to render if someone adds a type. We want to protect against lazy developers who wouldn't change the size or theme if they see something rendered.

[2021-03-31 16:19] dcwarwick commented on #547
@sydrosa That seems quite reasonable. It was only a "carbon tends to provide defaults rather than make things required" thought, so if we've had a conversation and feel it's better for this component to make them required then that makes good sense to me. @lee-chase fyi.

[2021-03-31 16:26] lee-chase commented on #547
@sydrosa as functional component always render (unless you use React.memo) I think you can simplify the component to

[code]

[2021-03-31 19:47] matthewgallo opened #550 "Add documentation for feature flag usage with config file"
## What will this achieve?
This will give users of our component library documentation on how to enable components via feature flags. There have been people asking about how to enable this and we should be able to point them to documentation on this.

## How will success be measured?
When there is docs on github where we can send people to when they are using components that have not been released

[2021-04-01 10:21] lee-chase commented on #368
This issue requires some overriding of Carbon CSS when implementing the 672 size.

https://github.com/carbon-design-system/carbon/issues/8264

[2021-04-01 14:50] dcwarwick opened #555 "Review findings for Tearsheet"
## What will this achieve?

To complete the review of Tearsheet:

- [x] Explain the `height` prop more fully in the comments.
- [x] Replace `buttons` with the structured construction approach as used in SidePanel and rename it to `actions`.
- [x] Change `influencer` and `navigation` to type PropTypes.element.
- [x] Comment passed-through props in Tearsheet/TearsheetNarrow.
- [x] Use `min(100vh, 50

[2021-04-02 15:25] AlexanderMelox commented on #394
I think the most important steps should be:

1. How to install the package
2. How to import the styles
3. How to include the config.js file with the feature flags

[2021-04-02 17:29] #525 closed

[2021-04-05 19:22] JohannaSuarezKoval commented on #382
Hi David,
I noticing some adjustment needed in the primary actions (action icons)

- When they are at the top right they need a 8px padding the the right. The top padding also changes depending on the size of the title:

When they are at the top right and the title is in the default size there is a 12px top-padding,
<img width="568" alt="Screen Shot 2021-04-05 at 2 57 03 PM" src="https://user-imag

[2021-04-05 19:35] JohannaSuarezKoval commented on #382
I have a question regarding the ghost button of the productive card:
The ghost button at the bottom is actually optional as it is a supplemental action (no the primary action) of the card. Can this bottom bar with the ghost button be removed easily if it isn't need it?
<img width="1401" alt="Screen Shot 2021-04-05 at 3 31 30 PM" src="https://user-images.githubusercontent.com/5809654/113617611-8805

[2021-04-05 19:38] JohannaSuarezKoval commented on #382
Question regarding clickable cards:
Productive cards can also be clickable even if they have action buttons. Has this been included?
Please see the **action zone** section of the guidelines:
https://pages.github.ibm.com/cdai-design/pal/components/card/productive/usage#formatting

[2021-04-06 13:58] dcwarwick commented on #546
The buttons need to be put in a ButtonSet rather than a plain div. This will be done via our new ActionSet component when we have made that.

[2021-04-06 14:24] matthewgallo opened #562 "Side Panel: add action set control"
## What will this achieve?

This will really help to clean up the stories for the side panel. Similar to how the tearsheet has this, we need to add a storybook control that will allow you to toggle between different action variations.

## How will success be measured?

When a custom control for this capability is added.

[2021-04-06 14:25] matthewgallo commented on #562
![image](https://user-images.githubusercontent.com/10215203/113726583-580cfc80-96c2-11eb-8a28-f3116672afb3.png)

[2021-04-06 15:30] dcwarwick opened #563 "Rename master branch to 'main'"
## What will this achieve?

Align with carbon and current github practice. New repos on github use 'main' rather than 'master' as the default branch, and Carbon switched to this a few weeks ago. Existing repos are not changing automatically, but can rename their branch. Renaming the branch should put in place some forwarding/notice/reminders, but it's not clear exactly what until we try it. We sho

[2021-04-06 15:31] dcwarwick opened #564 "Add a markdown page with links to all our codesandboxes"
## What will this achieve?

Make them available in one easy place for us and our users. Unfortunately, only members of the workspace can see the workspace views, so that doesn't make an easy way to get to the sandboxes as we'd originally hoped.

[2021-04-06 19:47] dcwarwick commented on #563
Proposal is to do this renaming on the MORNING of Thursday April 8th. Instructions as to what team members need to do to continue working will then be posted into the Slack channel.

[2021-04-07 15:06] dcwarwick commented on #134
## Review for release

### Readiness

- [ ] One or more scenarios for a design pattern have been identified as a useful unit of functionality to publish.
- [ ] A functioning component or components delivering those scenarios have been delivered and merged to master.
- [ ] Design maintainer has approved the implementation for those scenarios (via a comment on the relevant issue/epic).

### Engineer

[2021-04-07 16:49] matthewgallo opened #570 "User profile images: prep for release review"
## What will this achieve?
Prep user profile image component for release review.

## How will success be measured?
When component follows review guidelines.

[2021-04-08 13:31] dcwarwick opened #574 "Review findings for Notifications"
## What will this achieve?

To complete readiness for release:

- [x] Change the component name to NotificationsPanel.
- [x] Change `setOpen` to be a simple event call `onClickOutside`.
- [x] Change `xxxLabel` to `xxxText` when they are bits of text to assemble, and make them functions whenever there are numbers etc to be substituted in.
- [x] See if you can use a copy of carbon ClickListener inst

[2021-04-08 14:01] AlexanderMelox opened #575 "Add a theme switcher utility component for Codesandbox"
# Theme switcher

## Brief description

Adds a theme switcher utility component for our code sandbox. The design will be based on [this prototype](https://github.ibm.com/Alexander-Melo/carbon-theme-switcher).

### Links to other materials

Prototype: https://github.ibm.com/Alexander-Melo/carbon-theme-switcher

[2021-04-08 17:14] SimonFinney opened #577 "CSS conflicts integrating with existing applications and styles"
#### Affected package

`@carbon/ibm-cloud-cognitive@latest`

#### Description

##### Carbon global and utility styles

Importing the package CSS into an existing application can cause unintended side effects originating from global and utility styles from Carbon as a dependency - depending on the import order, this also takes precedence over any Carbon style or version that an application may alre

[2021-04-08 18:18] ConradSchmidt opened #578 "Outdated canary instructions in placeholder component"
## What package(s) are you using?

- [x] Cloud & Cognitive
- [ ] Legacy/CDAI
- [ ] Legacy/Security

## Detailed description

Canary instruction in placeholder component is out dated - its missing the `/es/settings` part:

https://github.com/carbon-design-system/ibm-cloud-cognitive/blob/06812edd22cf44753a844c49ce3a322d7adcc2ad/packages/cloud-cognitive/src/components/_Canary/Canary.js#L31

![image](

[2021-04-08 18:20] ConradSchmidt commented on #578
Additionally I get an error when using the `noneJustYet`
[code]

[2021-04-08 20:42] matthewgallo opened #580 "Side panel: issue with panel height"
## What package(s) are you using?

- [x] Cloud & Cognitive

## Detailed description

When a side panel has content that does not span the full height of the panel, the actions container element has unintended style issues.

SidePanel

The actions container element should not have height issues, no matter how much content is in the panel.

Chrome

Latest

## Steps to reproduce the issue

1. Use sid

[2021-04-08 21:20] davidmenendez opened #581 "Saving design feedback round 2"

[2021-04-08 22:20] dcwarwick commented on #563
Done

[2021-04-08 22:20] #563 closed

[2021-04-09 01:11] matthewgallo commented on #574
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/584

[2021-04-09 02:12] matthewgallo commented on #580
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/585

[2021-04-09 13:46] dcwarwick commented on #547
@sydrosa There's another small issue we missed when looking through this, but which came up when we were looking at Tearsheet: the Carbon values for `size` are 'sm', 'md', 'lg', 'xl', rather than 'small', 'medium', 'large', 'x-large'. We don't particularly like the shortened versions, but we should align with carbon if possible :-/ I'll add this to the checklist above.

[2021-04-09 15:13] #581 closed

[2021-04-09 15:14] davidmenendez commented on #409
based on the latest feedback I'm good to start prepping this for release review

<img width="505" alt="Screen Shot 2021-04-09 at 10 13 26 AM" src="https://user-images.githubusercontent.com/6370760/114201940-55a5df00-991c-11eb-98a6-e85a7daf42ff.png">

[2021-04-09 17:12] davidmenendez commented on #382
based on slack conversations with Johanna i think we can conclude this round of design feedback and start prepping this for release review.

[2021-04-09 17:12] #382 closed

[2021-04-09 18:26] davidmenendez opened #590 "Saving prep for release review"
add testing and docs for the `Saving` component.

[2021-04-12 10:07] #375 closed

[2021-04-12 13:34] dcwarwick commented on #577
So here's a proposed path forward based on our discussion the other day @SimonFinney @lee-chase:

* The recommended way to use our SCSS entry points is as follows:
    1. FIRST set any carbon feature flags and/or cloud-cognitive feature flags (if we have any).
    2. THEN load cloud-cognitive (NB yes, _before_ carbon. This ensures any settings we require are made) -- this can either be the whole c

[2021-04-12 15:46] matthewgallo commented on #480
This is now handled by the ActionSet component, thanks @dcwarwick 🎉

[2021-04-12 15:46] #480 closed

[2021-04-12 15:58] #562 closed

[2021-04-12 17:05] #590 closed

[2021-04-12 17:18] matthewgallo commented on #580
We need to better account for how much bottom padding the main content gets to properly account for the action buttons. In addition to not rendering the action set container if there are no buttons, currently that element is still rendered and it's empty but has a top border which should not be the case.

[2021-04-12 19:00] matthewgallo commented on #580
https://github.com/carbon-design-system/ibm-cloud-cognitive/pull/593

[2021-04-12 20:04] dcwarwick commented on #577
PS thoughts/suggestions on the exact names of those built CSS files also welcome!

[2021-04-12 20:07] dcwarwick commented on #577
PPS -- we could then include a snapshot/test for `index-without-carbon-released-only.css`, to alert a developer to any changes that will affect styles for released components. The styles for non-released components can be presumed to still be volatile, but we should be careful about changes to released components, since even small CSS changes can be breaking (as we see regularly with carbon versio

[2021-04-13 00:36] matthewgallo commented on #580
Complete

[2021-04-13 00:36] #580 closed

[2021-04-13 00:39] matthewgallo opened #594 "SidePanel: add resize detector to get current actions container height"
## What will this achieve?

As @dcwarwick mentioned, in the max size side panel the max width is 75% which depending on the viewport could cause the actions container to change height. Adding the resize detector component will allow the component to know what the actual height of the actions container is at all times.

[2021-04-13 11:08] SimonFinney commented on #577
Thanks for putting this together! I feel it covers a significant portion of what we discussed.

To briefly add to this - Sass Carbon settings should as most as is reasonable, be defined by the consumer, and the library should aim to respect that. This would help prevent situations in which the settings of one entry point could potentially override the settings of another, as well as remove the nee

[2021-04-13 14:06] matthewgallo commented on #594
Complete

[2021-04-13 14:06] #594 closed

[2021-04-13 14:14] matthewgallo commented on #578
This looks to have been fixed. But I also am getting an error when trying the `noneJustYet` flag. @lee-chase is this an outdated flag now?

[2021-04-14 07:30] sidswamym commented on #339
@dcwarwick can you please let us know the ETA for the fix? We are planning to go live with the tear sheet by end of May.

[2021-04-14 18:58] SimonFinney opened #605 "`AboutModal` title additional spacing without CSS reset"
#### Affected package

`@carbon/ibm-cloud-cognitive@latest`

#### Description

Without the CSS reset applied, the `AboutModal`'s title includes the top margin provided by the browser's default styles, resulting in it being pushed down and no longer matching the design specification:

![AboutModal](https://user-images.githubusercontent.com/3846874/114763483-be48ed80-9d5a-11eb-8b31-23519bd9fe75.png)

[2021-04-15 01:20] andrea-gm opened #606 "APIKeyModal: Address design inconsistencies"
## What will this achieve?

adhere to design

## How will success be measured?

design sign off

## Additional information

The modal should be the "small" size.
Components within a modal should span the full width of the modal, while text only spans 80% of the width. The form field should span the full width.
The info icon should be inline with the bottom text, which should be 16px from the textf

[2021-04-15 12:15] dcwarwick commented on #409
## Review for release

### Readiness

- [ ] One or more scenarios for a design pattern have been identified as a useful unit of functionality to publish.
- [ ] A functioning component or components delivering those scenarios have been delivered and merged to master.
- [ ] Design maintainer has approved the implementation for those scenarios (via a comment on the relevant issue/epic).

### Engineer

[2021-04-15 13:02] #487 closed

[2021-04-15 13:02] #555 closed

[2021-04-15 14:29] AlexanderMelox opened #611 "Pageheader title should have a loading state"
## What will this achieve?

In our designs, some of the pageheader titles are dynamic and come from an api. We want to utilize skeletons until it loads but currently the Pageheader title prop is of string.

## How will success be measured?

If we can somehow pass a node OR a string to the title prop. Or indicated a prop if the title is loading.

[2021-04-15 16:31] qbi11y commented on #484
I have rolled the changes into the component. Closing this issue.

[2021-04-15 16:31] #484 closed

[2021-04-15 21:15] davidmenendez opened #615 "Card testing"
Add testing to `Card` component

[2021-04-16 00:26] andrea-gm commented on #606
@davidmenendez saw your name on the epic for this one. feel free to unassign or assign someone else if it's not right!

[2021-04-16 00:41] andrea-gm opened #617 "Import: address design inconsistencies"
## What will this achieve?

design compliance

## How will success be measured?

design review

## Additional information

Modal size should be "small"
Equal spacing between form fields 24px.

![Screen Shot 2021-04-15 at 5.28.52 PM.png](https://images.zenhubusercontent.com/602c650f7403e47720b5bb29/b61adff9-d387-4d13-be3b-750fd74d36f3)

[2021-04-16 00:48] andrea-gm commented on #134
@matthewgallo have you synced with Dejan Glozic about the notifications panel? I heard his team will implement their own for the global navigation bar (for one pak). So it might be good to share this with him and see what they can leverage. It may not make sense in the future to maintain two separate notification panels, so it'd be good to find a solution that works for one pak and for anyone else

[2021-04-16 01:01] dcwarwick commented on #339
@sidswamym We've been focusing a lot of effort on reviewing and revising the Tearsheet for release, which is now mostly done. It's now at the top of my list! I'll let you know when I have an exact ETA for this, but I would certainly expect it to be fixed within the coming week.

[2021-04-16 12:54] YuriBarssi commented on #508
@lee-chase @dcwarwick I'm facing similar issues, and I'm currently in "@carbon/ibm-cloud-cognitive": "^0.34.6",
I'm trying to use the experimental items (SidePanel and UserProfileImage), and it looks great in Storybook. But Jest complains about it if I use ES. So not sure if like these components are not offered in the /lib folder, just on the es. If I toggle the import, Jest works well but I get

[2021-04-16 13:11] matthewgallo opened #618 "SidePanel: review prop names and increase test coverage for review"
## What will this achieve?

To prep this component further for review, the `props` in the side panel should be reviewed, notably the `setOpen` prop that the NotificationsPanel also had and was changed. Something to the effect of `onRequestClose` would make more sense.

[2021-04-16 13:48] matthewgallo commented on #618
*I will also use this issue to increase the test coverage for the side panel

[2021-04-16 17:08] dcwarwick commented on #577
I agree that peer dependencies make more sense for carbon and for react. I've pulled the carbon version we use forward to 10.32, since there are changes in that version that PageHeader will depend upon, but I've made them peer dependencies, so it's up to our user what actual versions we are paired with. On the whole, minor changes in Carbon shouldn't make much difference, but on the other hand wit

[2021-04-16 17:48] SimonFinney commented on #577
I think this is a challenge that leaves risk for visual issues potentially arising, but I wonder if that's dependent on how the library constructs styles with components from Carbon. For example, I would expect little issue with the library positioning something like a button, but overriding its 'internal' styles could cause breakages through untested minor increases.

That's a very basic example,

[2021-04-16 18:21] dcwarwick commented on #546
The ActionSet also needs to replicate the 'full bleed' styling, which Carbon only applies if a ButtonSet is included into a modal footer.

Also, the refreshed designs call for the ability to include actions into the header area -- consider adding a prop to enable that.

[2021-04-16 18:37] dcwarwick commented on #508
All components are offered in both /lib and /es -- these are just differently transpiled versions of each other. If Jest is "complaining", this may be because you are using an older version of node.js -- the capability to load ES modules directly was adding in node.js version 13.2 I believe, so if you are on the current LTS (fermium, currently at 14.16) you'd be fine, but older versions not so muc

[2021-04-19 14:35] dcwarwick commented on #547
@sydrosa Thanks Syd -- out of interest, why did you change the name of `iconDesription` to `iconLabel`?

[2021-04-19 14:39] sydrosa commented on #547
@dcwarwick excellent question. I felt that `iconDescription` was a misleading prop name since we _do not_ want a visual description of the icon. Instead, for accessibility purposes, we want a string that explains the icon's purpose, or what it should signify to the user. I felt that `iconLabel` as well as some updated documentation would push user's in the right direction of what string they shoul

[2021-04-19 15:00] dcwarwick commented on #547
Yeah, we kind of agree. 'description' is not a very useful word here. However, we had a look through Carbon, and they are consistently using `iconDescription`, so I'm afraid we should stick with being consistent with that. So the bad news is, sorry, can we change the name of the prop `iconLabel` back to `iconDescription`, despite the fact we don't like the words very much :-) The good news is that

[2021-04-19 19:02] matthewgallo commented on #69
## Review for release

### Readiness

- [ ] One or more scenarios for a design pattern have been identified as a useful unit of functionality to publish.
- [ ] A functioning component or components delivering those scenarios have been delivered and merged to master.
- [ ] Design maintainer has approved the implementation for those scenarios (via a comment on the relevant issue/epic).

### Engineer

[2021-04-19 19:07] matthewgallo opened #623 "Review findings for UserProfileImage"
## What will this achieve?

All outstanding items to complete release review:
- [x] Reach out to designer for final design approval
- [x] Rename `icon` prop to `kind` to match carbon precedent.
- [x] Add prop to give image `alt` text (ie `imageDescription`)
- [x] Remove default props of `size` and `icon`. This may break parts of the component, be sure to add checks that these props have values bef

[2021-04-20 12:37] #182 closed

[2021-04-20 12:37] lee-chase commented on #181
Styling replaced by Carbon styling from 10.32

[2021-04-20 12:41] lee-chase opened #627 "Make breadcrumb with overflow collapse to <-- arrow on small"
Assuming the title still floats up next to the arrow, so just replaces the `../`

Yup, agree comboButton would be the better example to show

For mobile, think we'll be ok with just the back arrow

We should keep this separate since the ActionBar & PageActions will most likely be unrelated. Here's an example of how we could consider handling the ActionBar (3 max icons shown. If more, then overflow

[2021-04-20 12:42] lee-chase commented on #627
Closing with #672 tracking the remaining task.

[2021-04-20 12:44] lee-chase commented on #368
Closing with #627 tracking the remaining task.

[2021-04-20 12:44] #368 closed

[2021-04-20 14:31] dcwarwick commented on #547
@lee-chase FYI.

if there are cases where we don't like the Carbon pattern and think it might be better to do something different we should open that up as a larger conversation so that we can be confident we can articulate why we've done things differently, and maybe suggest changes up to Carbon in turn.

The Carbon "description" is sometimes non-displayed text in a DIV, sometimes an `aria-label`

[2021-04-20 15:09] #617 closed

[2021-04-20 15:09] #504 closed

[2021-04-20 16:16] qbi11y commented on #69
@marion-bruells can you please review the component from a design perspective: https://ibm-cloud-cognitive.netlify.app/?path=/story/cloud-cognitive-canary-userprofileimage--default

[2021-04-20 18:00] AlexanderMelox opened #630 "[PageHeader]: Toggle collapse overlaps with action bar items"
## Description

When hovering over `toggle expansion/collapse` it overlaps with the action bar items.

Storybook link: https://ibm-cloud-cognitive.netlify.app/?path=/docs/cloud-cognitive-canary-pageheader--all-attributes-set#page-header-with-ba[…]actions-toolbar-only

![Screen Shot 2021-04-20 at 12 49 56 PM](https://user-images.githubusercontent.com/12755042/115442898-8cafa680-a1e0-11eb-8cc7-2d437

[2021-04-20 19:46] davidmenendez opened #632 "Add Export component"

[2021-04-20 19:46] #632 closed

[2021-04-20 19:47] davidmenendez opened #633 "Export design feedback"

[2021-04-20 19:48] #633 closed

[2021-04-20 20:51] davidmenendez opened #634 "Export testing"
Add and improve testing for `ExportModal`

[2021-04-21 09:09] lee-chase commented on #630
Does this only happen on the docs page @AlexanderMelox ? Not able to see it in storybook.

[2021-04-21 09:38] jainshravan123 opened #637 "Tearsheet main body is taking 20% margin from right side"
20% margin is appearing from right side of main body under tearsheet.

<img width="1680" alt="Screenshot 2021-04-21 at 3 20 25 PM" src="https://user-images.githubusercontent.com/6860473/115534165-234d9780-a2b5-11eb-9401-41cdce51b642.png">

We are using the latest version(0.35.3  as of now) of `@carbon/ibm-cloud-cognitive ` and consuming the tearsheet in the following way.

Importing the following

[2021-04-21 10:13] marion-bruells commented on #69
I reviewed in the storybook and I found some accessibility issues. Here is my feedback:

- Text and icon color on light colors should be dark instead of white for sequence 30 and 50 to ensure accessibility (color contrast ratio).
Current implementation:
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/51152537/115533776-5aad4b80-a297-11eb-82a0-9a24e20dd9df.png">
Please

[2021-04-21 10:56] lee-chase commented on #637
@dcwarwick FYI

[2021-04-21 16:15] sydrosa opened #638 "Bug: Storybook for About Modal does not allow for `open` of modal"
## Unintended behavior in `AboutModal` storybook

Looks like currently the docgen for `AboutModal` shows a boolean for the `open` prop -- this doesn't allow the modal to be opened when pressing the trigger button and can be quite confusing for demo purposes.

CC @dcwarwick for vis. Anyone can pick up this bug!

[2021-04-22 14:00] matthewgallo opened #640 "Investigate resize event testing"
## What will this achieve?

Several components use `ReactResizeDetector` which has an onResize prop. This needs to be tested for each component that has this resize event listener.

Adding this to a test only triggers a resize event on the window, but does not call the `onResize` prop from the resize detector component.

[code]

[2021-04-22 14:16] #339 closed

[2021-04-22 15:21] jainshravan123 commented on #637
@dcwarwick
Thanks for looking into this issue.
1. Yes we are using the carbon.
[code]
2. It'll be available in our demo. I'll send you the URL once it'll reach there in demo environment.

[2021-04-22 20:22] sydrosa commented on #344
## Review for release

### Readiness

- [x] One or more scenarios for a design pattern have been identified as a useful unit of functionality to publish.
- [x] A functioning component or components delivering those scenarios have been delivered and merged to master.
- [x] Design maintainer has approved the implementation for those scenarios (via a comment on the relevant issue/epic).

### Engineer

[2021-04-23 19:33] dcwarwick opened #644 "Include design paddings in Tearsheet main content and influencer"
## What will this achieve?

At present, the Tearsheet places body content and a supplied influencer (if any) into the Tearsheet layout without any padding or margin. The design calls for a 32px side padding and 24px top and bottom padding in wide tearsheets, and a 16px side, top and bottom padding in narrow tearsheets. It is currently necessary for the user of the tearsheet to include a suitable w

[2021-04-23 19:36] dcwarwick commented on #644
@AlexanderMelox @amilligan @sidswamym @jainshravan123 @joker23 I believe you may be using Tearsheets, so please be aware of this -- and do let us know if you have any comments or if you see any problems with the change.

[2021-04-23 20:13] amilligan commented on #644
@dcwarwick We do use tearsheets a fair amount, and in many cases we take advantage of the ability to have content render up to the edge of the tearsheet.  In some cases we take an entire page that we render elsewhere and render it in the tearsheet (including padding).  In other cases we want the content to render right to the edge (for example, maps).

If you choose to add padding into the content

[2021-04-23 20:18] davidmenendez opened #646 "Saving testing"